[2018-10-25 15:06] fffej opened #3 "Which technology should we use to build the Tech Radar?"
Use a JavaScript library?

Use Thoughtworks?

Any other?

[2018-10-25 15:09] fffej commented on #3
I have a strong preference for the Thoughtworks library.

It's slightly more difficult (as you can't visualize changes locally and need to go throw the web service), but it looks _way_ nicer and gives you the ability to download it as a document.

[2018-10-25 15:11] fffej opened #4 "What quadrants make sense for Redgate?"
The original Thoughtworks radar gives four areas
* Techniques
* Tools
* Platforms
* Languages and Frameworks

Are these the right ones for Redgate? What four should we pick?

[2018-10-25 15:15] fffej opened #5 "What are the rings?"
Thoughtworks Radar has four rings, which we'll describe starting from the middle:

* The *Adopt* ring represents blips that we think you should be using now. We don't say that you should use these for every project; any tool should only be used in an appropriate context. However we do think that a blip in the Adopt ring represents something where there's no doubt that it's proven and mature for us

[2018-10-25 15:44] garethbragg commented on #5
I agree it lacks a degree of finesse, but I'm not convinced the value we'd get from defining our own rings would be all that great. (NB: I'm also not actively against it.)

For the categories you suggest, I wouldn't be hugely uncomfortable putting that kind of stuff in _Trial_. If Dan's comments are fair, I would expect that section to get quite bloated to highlight the problem!

[2018-10-25 15:45] garethbragg commented on #3
Wouldn't that be introducing a new technology? :trollface:

Seriously: The Thoughtworks one looks good, and I don't think we have an actively-used alternative. It has my vote.

[2018-10-26 09:19] fffej commented on #5
Here's my stab at what the rings could be to work for Redgate after talking with @garethbragg

* The _Adopt_ ring represents technology Redgate has agreed to standardize on. This forms our default Tech Stack - everything in here is a solid choice and aligns with the rest of the teams. An example of this would be C#.

* The _Hold_ ring represents technology we currently use and haven't yet agreed a

[2018-10-26 10:30] tugberkugurlu commented on #5
I believe the default rings make sense to me, it's a useful indicator to a team who are exploring ways to get a particular job but not sure whether it's being adopted at Redgate already. However, we may provide a bit more relevant context for these. Probably matches the descriptions you have on https://github.com/red-gate/Tech-Radar/issues/5#issue-373999784 but I will put them here anyway just to

[2018-10-26 10:46] smobs commented on #5
I wonder about something like:

## Adopt

This what you should be using to solve X problem.

## Explore

This has potential, and is worth experimenting with in 10% time/running a trial on your team.

## Endure

This is no longer how we do things, it is ok this to be used, but don't add more and migrate off were possible.

## Retire
If you use this and are not actively spending time migrating away

[2018-10-26 10:48] tugberkugurlu commented on #4
All seems sensible and can relate to us apart from "Programming Languages and Frameworks" thing. I might be worth separating these two out into "Web Development Frameworks and Libraries" and ".NET Development Programming Languages and Frameworks" maybe, or something along the lines of this.

The main outcome I expect by this is to be able to easily spot relevant things under each category. For ins

[2018-10-26 10:55] smobs commented on #5
I see it as a WIP kanban style affair:
Explore -> Adopt -> Endure -> Retire.

Explore finds us things worth moving to.
To adopt we need to move whatever is currently in adopt to Endure.  So tech we are already enduring needs to be retired by migrating to the newly adopted option.

[2018-10-26 10:55] tugberkugurlu commented on #5
@smobs great new perspective, I liked the "Retire" suggestion a lot.

I see this as actual commitment, rather than being vague "hey looks good, wanna try" type of one. The diff between Adopt and this would be your confidence level on how likely you would recommend this to another team to use because you haven't seen the expected outcome yet and there is still time to analyze it.

[2018-10-26 10:59] smobs commented on #5
👍
## Explore
1 team is trialing this.  They will either pitch it as something to adopt, or back it out of their codebase: it doesn't get to hang around.

[2018-10-26 11:28] smobs commented on #4
I like _languages and frameworks_ grouped.  Frameworks are a similar commit, and likely to be less well designed

[2018-10-26 11:42] smobs commented on #4
I agree with Tugberk and wonder if the radar is just a visualisation of a different source of truth.
Something more like a spreadsheet of

|theme| what  | explore |  **adopt** | endure | retire |
|------|-------|--------|--------|---------|------|
|Tools| AOC | hand rolling | **Autofac** | Ninject | RhinoMoc |

[2018-10-26 11:48] fffej opened #8 "Include document management"
For new starters finding information is not very clear.

@JonathanMasefield has given some guidance on the [Info Site](https://info.red-gate.com/rg/blog/2018/10/our-stance-on-onedrive-and-google-drive) so we should incorporate this in the Tech Radar.

[2018-10-26 11:56] fffej commented on #4
@smobs I think Platform for us probably means supported SQL Server versions, Windows versions, Web Browsers and .NET framework.

@smobs I think that observation around the spreadsheet is good (except I imagine you'd need multiple things in endure for that particular example 😄

[2018-10-26 11:57] nyctef commented on #4
+1 to what @smobs said - the radar is a cool visualization, but I think the spreadsheet would actually be more useful on a day-to-day basis

[2018-10-26 12:00] smobs commented on #4
Multiple things in retire Jeff

[2018-10-26 12:01] smobs commented on #4
Also RhinoMoc is not right

[2018-10-26 12:03] smobs commented on #4
Bold off topic statement, a IOC systems should be straightfoward to migrate, because you rewrite all the configuration in the new system and don't touch real code.

[2018-10-29 11:06] ChrisHurley commented on #5
👍 to Adopt/Explore/Endure/Retire. I think that Trial/Assess on the ThoughtWorks one sound too similar unless you have a clear process by which things move between them.

I guess the question is, if I see something in Explore (or Trial/Assess), should I pull it in and start using it to see how it goes if it seems it might solve some problem for me, or should I wait until it hits Adopt? What's the p

[2018-10-29 12:52] fffej commented on #5
👍 to Adopt/Explore/Endure/Retire from me as well.

@ChrisHurley makes a good point about defining stuff in Explore; when should it be used and when should it not?

Maybe we should start simply and just label which team is doing work in the Explore phase and ask for a conversation to happen before pulling it in? Or we could do an [RFC style](https://blog.pragmaticengineer.com/scaling-engineering-te

[2018-10-29 13:11] fffej commented on #4
The more I think about this, the more I think we should just adopt the Thoughtworks ones. They aren't _perfect_, but as the [FAQ](https://www.thoughtworks.com/radar/faq) says

I don't think we should spend much more time discussing this.

@tugberkugurlu makes a good point about easily wanting to spot relevant things, but I think that will come from a different presentation of the same data (or jus

[2018-10-30 09:10] #5 closed

[2018-11-01 10:20] #8 closed

[2018-11-01 15:15] fffej opened #13 "Mocking Frameworks"
We use quite a few mocking frameworks

- [NSubstitute](http://nsubstitute.github.io/)
- [Moq](https://github.com/Moq/moq4/wiki/Quickstart)
- [Rhino Mocks](https://hibernatingrhinos.com/oss/rhino-mocks)

Where should they be on the Tech Radar?

[2018-11-01 15:49] garethbragg opened #14 "Build infrastructure"
AFAIK, the vast majority of products now use `RedGate.Build`, rather than the old build magic.

How much of this is worth capturing on the tech radar?

My gut says:

* Adopt: RedGate.Build
* Retire: build magic

Worthwhile? Is build magic already dead and I'm living in the past? Is there some other option?

[2018-11-01 15:57] nyctef commented on #13
personal opinion: the first question to answer is "Do I need a mocking library?" The answer here will depend on [what kind of TDD you're doing](https://github.com/testdouble/contributing-tests/wiki/Test-Driven-Development) and how you're arranging your [boundaries](https://www.youtube.com/watch?v=yTkzNHF6rMs).

I don't know how this question fits on the Tech Radar :)

If you've decided you want a

[2018-11-01 16:07] smobs commented on #13
NSubstitute was fine for me

[2018-11-01 16:28] allymparker opened #15 "JavaScript - Endure?"
So just cos I want to be that guy...

I don't see how JS can be put in this ring.  A lot of people like TS, but I think there's a time and a place for plain ES6+.  Eg at the start of a project, only adding the extra layer if/when needed .

I personally haven't seen a significant benefit over using TS and found the tooling and extra layer to be more of a hindrance.

![image](https://user-images.git

[2018-11-01 16:41] allymparker opened #16 "Web UI Frameworks"
Okay, fun time!

Current "adopt" stack for Web UI:
- React
- Redux/react-redux (**If needed**)
- fetch
- Honeycomb Web Tool Kit
- moment JS
- HighCharts +
- lodash
- SASS
- SignalR

Build:
- Webpack
- Babel

Old UI frameworks
- KnockoutJS - Endure
- RX.js - Retire
- jQuery - Retire

Question: There's definitely a time and a place to use server side rendering ie Razor/MVC, especially when experimen

[2018-11-01 16:43] MichelleTaylorRG commented on #13
I have an irrational prejudice against Moq because it has a stupid name. Other than that I've never found a substantial difference between NSubstitute and Moq so we should pick whatever one we are using in most products to put in the middle and stick the other one out in Endure.

[2018-11-01 16:46] MichelleTaylorRG opened #17 "Feature Usage Reporting"
Appinsights and our own in house Usage stuff that feeds that feels like it should be on here somewhere. We still have a few other things kicking around (not just SA FUR but also Google Analytics) which I think we're trying to kick?

[2018-11-01 16:47] MichelleTaylorRG opened #18 "Check for Updates / Autoupdate"
Where should our 'standard' CfU implementation be on here? Should it be out in Endure and we should be looking into autoupdate - in which case, what are our promising autoupdate options?

[2018-11-01 16:48] MichelleTaylorRG commented on #14
Build magic is almost dead - we're about to start pulling it out of DLM Dashboard, I think that might be the final thing that's left in it.

[2018-11-01 16:48] MichelleTaylorRG commented on #14
What is a thing still is what release scripts you use - do you roll your own or are you on the standard release scripts?

[2018-11-01 16:50] MichelleTaylorRG opened #19 "Installer"
Wix 2 in retire, Wix 3 in adopt, probably not looking at Wix 4 yet?

What other weird and wonderful installation tech do we still have lurking in the corners that isn't using the standard RG installer?

[2018-11-01 16:52] allymparker opened #20 "Supported Browsers"
Currently monitor supports:

Chrome
FireFox
Edge
IE 11

via Babel's `Env` preset and `babel-polyfill`

[2018-11-01 16:53] ChrisHurley commented on #13
I like that NSubstitute doesn't require setup lambdas and `.Object` calls like Moq.

[2018-11-01 16:53] MichelleTaylorRG opened #21 "Licensing models"
We're enduring serial key based licensing and adopting login licensing, I think? Should we put other licensing considerations (user vs per-server vs other size-calculation models, perpetual and S&U vs subscription) on here, or is that too distant from tech / decisions teams can make themselves?

[2018-11-01 16:54] MichelleTaylorRG opened #22 "Supported SQL Server and SSMS versions - and other platform support issues"
https://info.red-gate.com/eng/development-policies/platforms-and-supported-versions looks like some of its contents may now belong here?

[2018-11-01 16:55] MichelleTaylorRG commented on #20
https://info.red-gate.com/eng/development-policies/platforms-and-supported-versions/browsers exists, but doesn't look like it's actually very up to date

[2018-11-01 16:57] MichelleTaylorRG opened #23 "Non-web UI"
Is this something that is in Endure in general, both WPF and Winforms?

What about for SSMS / VS plugins - is WPF still an Adopt approach in that specific case?

What's our position on various ways of making web UIs in standalone tools (e.g. Electron, whatever it is that ANTS and Monitor uses)?

Can we all agree that CEF belongs in Retire?

[2018-11-01 17:00] MichelleTaylorRG opened #24 "Linux (and Oracle)?"
We run tests against SSOL for SQL Compare Engine, so it feels like Linux should at least be in the Explore area.

Also where should Oracle be? (obligatory controversial parrot)

[2018-11-01 17:02] tugberkugurlu commented on #16
@andrew-farries do you see anything we should be having here?

[2018-11-01 17:07] tugberkugurlu commented on #20
FWIW, we recently dropped support for IE, hasn't heard any complaints from EAP co-creators for Data Catalog. There is an element if surprise but that's easily communicated, there has been no resistance to switching to an alternative evergreen browser such as Chrome, Edge, Firefox, etc. We are at the EAP stage though, so, it may be misleading.

More info here around the rationale: https://github.co

[2018-11-01 17:09] ChrisHurley commented on #20
That's the same set we currently support in Clone. IE11 is the only one that we really have to spend any time on specifically.

[2018-11-01 17:12] rmc47 commented on #17
Raygun in "retire"?

[2018-11-01 17:16] rmc47 opened #25 "Infrastructure management"
This might be a bit outside of Product for the most part, but in terms of infrastructure management that we do upstairs:

- Puppet in adopt
- Vagrant in adopt (or has it reached endure already?) for development environments

[2018-11-01 17:19] fredjeronimo opened #26 "Logging framework (.Net)"
We have a single one in Prompt:

* [Log4Net](https://logging.apache.org/log4net/) - Adopt

I've used others elsewhere (e.g. [NLog](https://nlog-project.org/)), but currently we have found no need to look into them here.

[2018-11-01 17:23] fredjeronimo opened #27 "Unit-testing framework (.Net)"
We use a single one in Prompt:

* [NUnit](http://nunit.org/) - Adopt

[2018-11-01 17:25] fredjeronimo opened #28 "Dependency Injection framework (.Net)"
We use a single one in Prompt:

* [Ninject](http://www.ninject.org/) - Adopt

[2018-11-01 17:29] tugberkugurlu commented on #28
I would have thought that most of our products default to Autofac nowadays?

[2018-11-01 17:31] adrianbanks commented on #27
- [xUnit](https://xunit.github.io)
- [Fixie](http://fixie.github.io)

Probably need some libraries for Javascript unit testing as well.

[2018-11-01 17:34] adrianbanks commented on #28
SQL Source Control uses Ninject (and so does SQL Compare Engine and the Oracle tools from doing a quick search).

[2018-11-01 17:35] ChrisHurley commented on #28
We use Autofac on Clone. I've never used Ninject (when I look for comparisons, they mostly just note that Ninject is much slower than alternatives at resolving, or at least was).

[2018-11-01 17:36] fredjeronimo opened #29 "Code MSIL/IL weaving/injection framework"
Personal opinion: For me the first question to ask is whether this is even desirable to have at all.

We use [Fody](https://github.com/Fody/Fody) (alongside [Fody.PropertyChanged](https://github.com/Fody/PropertyChanged)) - Endure / Retire

[2018-11-01 17:36] ChrisHurley commented on #27
I might up that to NUnit 3 - Adopt. Is NUnit 2 Endure or Retire? (It has breaking changes.)

JavaScript and, more also specifically, React testing is definitely an area we haven't pinned down.

[2018-11-01 17:37] ChrisHurley commented on #26
We also use Serilog in Clone (although we admittedly don't make as much use of its structured logging as we could).

[2018-11-01 17:45] nyctef commented on #16
Do we need to put all the libraries we use on here?

We've got roughly the same setup for Figleaf, but
- we heavily adopt redux (with a preference for putting logic in redux when possible)
- we use `postcss-loader` / `autoprefixer` alongside honeycomb WTK
- we don't use lodash (afaik typescript/ESwhatever have provided everything we need in that area, [might be missing something though](https://gi

[2018-11-01 17:51] nyctef commented on #26
Figleaf currently uses Serilog as well (pretty much just picked at random) - we use the structured logging to occasionally dump out an entire data structure we can't be bothered to serialise properly, but that's about it.

On the other hand, here's our current logging advice from the info site:

Not sure if now's the time to standardize on a logging library between products, but I think we should

[2018-11-01 17:52] fredjeronimo opened #30 "Static/Dynamic code analysis tools"
In Prompt:

* [Sonarqube](https://www.sonarqube.org/) - Explore

I've used quite a few other tools in the past such as [Pc-Lint](https://www.gimpel.com/html/pcl.htm), [NDepend](https://www.ndepend.com/), FxCop/[StyleCop](https://github.com/StyleCop) and [Coverity](https://scan.coverity.com/). The latter is by far the most powerful one but it's quite expensive...

[2018-11-01 17:56] nyctef commented on #28
I've used Autofac on Figleaf and Ninject on Compare. I have a slight preference for Ninject because Autofac lets you write `builder.RegisterType<CompletelyUnrelatedType>().As<IInterfaceIActuallyWanted>();` which IIRC is a compile error with Ninject's API. Apart from that they're basically equivalent as far as I can tell - never used them in a performance-sensitive manner since we mostly just injec

[2018-11-01 18:00] nyctef commented on #18
Clone has been doing some promising things with autoupdate in the Redgate Client which we should try and devote some more dev effort to - was going to try and pull it into Figleaf but realised we need cfu channels to be supported, so need to do some more work first.

[2018-11-01 18:03] nyctef commented on #27
We've been using jest for general js unit-testing, which appears to work just fine.

We've successfully written some React component tests with jest and enzyme but haven't found them particularly useful beyond a proof of concept

[2018-11-01 18:07] smobs commented on #30
We use sonarqube on masketeers.  Feels like RG has adopted this

[2018-11-01 18:13] smobs commented on #15
@allymparker new project -> json straight into an api?
If we are transpiling JSX anyway then adding typings is worth it.
TS tooling is well supported by ~our overlords~ MS.

[2018-11-01 18:14] smobs commented on #15
You are right that TS is only for devs who make mistakes.

[2018-11-01 18:20] smobs opened #31 "Real :japanese_ogre: Programming Languages"
Explore - F#
Adopt - C#
Endure - Delphi, C++
Retire - VB.Net

[2018-11-01 18:21] ChrisHurley commented on #28
I wouldn't be worried about it if it was 20% slower, but given that our controllers are instance-per-request

[2018-11-01 18:22] smobs opened #32 "Configuration file format"
How do we store information in files?

Adopt - JSON
Endure - XML

[2018-11-01 18:30] nyctef opened #33 "Powershell cmdlets"
I don't have any personal experience with these, but we seem to use powershell pretty heavily when building automation for products. Do we always want to do this instead of just providing a plain old commandline? Do both?

[2018-11-01 18:30] ChrisHurley commented on #15
I find the reliable IntelliSense that TypeScript gives makes it more discoverable, as well as giving me more confidence that the code is correct.

[2018-11-01 18:31] nyctef commented on #32
related: Registry - retire ?

[2018-11-01 18:33] nyctef commented on #30
+1 for not sure exactly how much value sonarqube provides - we have it on our PRs and it seems to occasionally pop up with some useful suggestions (and seems to be more intelligent / better at finding actual bugs than R# or compiler warnings) but we still spend a nonzero amount of time managing false positives and stuff we just don't care about.

[2018-11-01 18:47] rmc47 commented on #32
Sysadmin point of view note: Registry is a really handy way of pushing out individual settings across an organisation via group policy in a way that can't easily be done by mangling individual values within a config file.

[2018-11-01 19:35] nyctef commented on #32
That's a good point - I guess for some options like the usage reporting opt-out or (hypothetical) autoupdate opt-out we'd probably want to keep in the registry for that reason

[2018-11-01 20:05] nyctef commented on #27
+1 to splitting these out. I think Endure is probably appropriate for NUnit 2 - as far as I know there's nothing wrong with using 2, but you might as well use 3 for any new development. AFAIK CompareEngine migrated to 3 for the new parallel execution features, but apart from that it'd happily been using 2 for many years.

[2018-11-01 20:32] fffej commented on #31
I think there's a (possible) niche for F# in testing. I love the idea of using [Hedgehog](https://github.com/hedgehogqa/fsharp-hedgehog). Or doing something like [sql-server-gen](https://github.com/fffej/sql-server-gen) but in a more useful language.

[2018-11-01 20:34] fffej commented on #14
If it's not dead already then I'd agree with @garethbragg and say let's shove "build magic" in retire and celebrate when we destroy it.

[2018-11-01 20:37] fffej commented on #25
I'd add Kubernetes / Docker to explore - might not be relevant for us (yet) but soon 🤞

[2018-11-01 20:38] fffej commented on #29
Byte weaving magic should be burn with 🔥 in my opinion.

We write code with a focus on simplicity and for me byte weaving is not simple. We've had problems in the past with our own MSIL rewriting for exception handler so I'd be very happy to put this in "Retire".

I don't know how widespread usage of it is though.

[2018-11-01 20:41] fffej commented on #22
Perfect - that looks like an easy PR for someone if they want to make it?

[2018-11-01 20:45] fffej commented on #17
I agree. I spoke with @nyctef, @samblackburn and @fredjeronimo about this earlier and I think the model we should be working towards is `RedGate.Usage.Client` being extended to handle faults/errors.

If we manage to do this, then we can use a vendor neutral thing on our side, and all the choosing where to go can be done by hanging handlers off the message bus. This is what we do for App Insights a

[2018-11-01 21:55] deneboulton commented on #16
Out of curiosity why is RxJs labelled as 'old'?

Its usage is on the up more so than ever before - it is intrinsic to latest Angular, it sees use across the community, it has reference implementation in a ever growing list of programming languages so experience with it is transferable from one to another.

[2018-11-01 22:00] deneboulton commented on #16
I can highly recommend Jest for testing Typescript/Javascript and Enzyme has worked well for us. Depending on what/how you want to test then Cypress is worth exploring.

[2018-11-02 02:13] StephanieHerr opened #34 "RavenDB - retire?"
This has caused problems with DLM Dashboard and I think we're trying to get rid of it.

[2018-11-02 02:16] StephanieHerr opened #35 "Redgate SQL Change Automation - Explore/Adopt?"
For new projects with a backend SQL Server DB or Azure SQL DB, it would be great to use Redgate's SQL Change Automation solution (aka dogfooding).

[2018-11-02 02:35] ChrisLambrou commented on #13
FWIW, COREDev had an interesting reason for using RhinoMocks rather than NSubstitute or Moq. With the latter two libraries, you can often end up writing code that follows this pattern:

1. Set up your mock objects in some non-trivial way.
2. Exercise your SUT.
3. Verify the expectations in your mock objects in a way that precisely duplicates the code in step 1.

When the mock set up is elaborate,

[2018-11-02 02:44] ChrisLambrou commented on #13
I suppose another consideration is that if you find yourself creating lots of elaborate mocks, maybe it's time to use fakes instead. They're used quite a lot in the Redgate Usage Client. Here's one if its internal interfaces for accessing the registry:

https://github.com/red-gate/RedGate.Usage.Client/blob/master/RedGate.Usage.Client/Providers/Registry/IRegistryProvider.cs

And here's a correspond

[2018-11-02 02:58] ChrisLambrou commented on #13
Not sure where "Fakes" fit in the mocking frameworks part of the tech radar, though. They're really more of a technique for avoiding taking a dependency on a mocking framework.

[2018-11-02 03:30] ChrisLambrou commented on #32
Continued use of the registry is a blocker to .NET Standard adoption and cross-platform support. It's the only remaining reason the Usage Client still only supports Windows. Sigh...

[2018-11-02 03:36] ChrisLambrou commented on #30
We use code inspections in R# and TeamCity in The Spiders. It's kind of annoying at times, but it's nonetheless keeping us honest for a good handful of basic code quality issues.

[2018-11-02 03:39] ChrisLambrou commented on #29
I would suggest killing it with fire, but we did find that internalising some dependencies using ILMerge could be a good solution for making some components more reusable. FWIW, the Usage Client used to ILMerge Newtonsoft.Json until we replaced it with our own json parser (yuk!).

[2018-11-02 03:47] ChrisLambrou commented on #28
Ninject also supports some common DI patterns way better than Autofac. The one I keep coming across is where you have two implementations of an interface, and you want everyone to use the first implementation (a decorator), except when constructing the first implementation, which needs to decorate an instance of the second implementation (the decorated). Personally I much prefer the usability and

[2018-11-02 03:48] ChrisLambrou commented on #27
Does Pester count as a testing framework for .NET? It's for PowerShell! 😁

[2018-11-02 07:59] andrew-farries commented on #16
Things we (the @red-gate/spiders) team are using that haven't been mentioned yet:

* [create-react-app](https://github.com/facebook/create-react-app). We'd definitely recommend this, though at some point you are going to need to know what your build tools are doing.
* [draftJS](https://draftjs.org/) We are building a search/filter bar using this. I believe Figleaf also uses this.
* [react-router](

[2018-11-02 08:03] andrew-farries commented on #16
Something we should consider for _Explore_:

* [GraphQL](https://graphql.org/) - an alternative to REST APIs that is gaining a lot of popularity.

[2018-11-02 08:18] andrew-farries commented on #15
I like modern (ie ES6+) Javascript and don't understand a lot of the hostility directed towards it.

Things we could consider for the _Explore_ section here:

* [Flow](https://flow.org/) - Facebook's attempt at adding some static type safety to JS - not a language like Typescript, it just lets you add some type information to plain JS.
* [ReasonML](https://reasonml.github.io/) - A statically typed

[2018-11-02 08:40] fffej commented on #35
Dogfooding would get a big thumbs up from me and I'd put it in Adopt.

[2018-11-02 08:40] fffej commented on #34
Agreed, PR welcome to do this!

[2018-11-02 08:49] smobs commented on #15
I agree Andrew, modern JavaScript is fine. Typescript adds some worthwhile benefits on top.

What do you see as the benefits of flow vs typescript?

Also I'm a bit dubious that we can convince RG to use ocaml(although it would be awesome).
________________________________
From: Andrew Farries <notifications@github.com>
Sent: 02 November 2018 08:18:10
To: red-gate/Tech-Radar
Cc: Toby Smyth; Comment

[2018-11-02 09:13] nyctef commented on #16
Whoops, yeah, that Figleaf list is still missing a few things.

I'd say we should recommend draftjs, but with a huge caveat to only use it if it's solving a problem you can't solve some other way - it's a hugely powerful but complicated piece of kit.

This one's interesting - at the moment Figleaf doesn't have anything like `react-router`: it just has a simple reducer which tells the app which pag

[2018-11-02 09:29] fredjeronimo opened #36 "Compression library and tools"
We don't make extensive usage of them in Prompt (only for importing/exporting settings, which by itself is an obsolete capability in the product we want to retire in favour of true shared settings), but adding this for completeness.

* [Zip file format](https://en.wikipedia.org/wiki/Zip_(file_format)) - Endure
* [DotNetZip](https://github.com/haf/DotNetZip.Semverd) - Adopt/Endure

[2018-11-02 09:32] ChrisLambrou commented on #32
Well, I'm currently dealing with this at the DI level, with an OS/platform check:

https://github.com/red-gate/RedGate.Usage.Client/blob/non-windows-providers/RedGate.Usage.Client/UsageSessionFactory.cs#L54

That part's not difficult. The pain is that for a handful of interfaces, each has two implementations: one based on the registry for Windows, and one based on config files for Linux, Macs and

[2018-11-02 10:05] fffej commented on #13
Rhino Mocks - last commit Oct 11 2010 (https://github.com/hibernating-rhinos/rhino-mocks). [Groups](https://groups.google.com/forum/#!topic/RhinoMocks/mShjU5sF1ig) suggests it'll never support .NET Core.

Retire:
* Rhino Mocks.

[2018-11-02 10:12] fffej commented on #20
@MichelleTaylorRG That page is up to date - I think we should only support evergreen browsers (e.g. browsers that upgrade themselves).

[IE 11](https://netmarketshare.com/browser-market-share.aspx?options=%7B%22filter%22%3A%7B%22%24and%22%3A%5B%7B%22deviceType%22%3A%7B%22%24in%22%3A%5B%22Desktop%2Flaptop%22%5D%7D%7D%5D%7D%2C%22dateLabel%22%3A%22Trend%22%2C%22attributes%22%3A%22share%22%2C%22group%

[2018-11-02 10:16] adrianbanks commented on #17
@rmc47 It's interesting you say that, as the SQL Monitor team has just agreed to introduce it. Any particular reason as to why?

[2018-11-02 10:18] fffej commented on #26
Log4Net currently isn't .NET Standard 2.0 compatible and hasn't been touched since [July 1 2017](https://github.com/apache/logging-log4net/).

[SeriLog](https://github.com/serilog/serilog) is more active (in terms of commits, stars and forks).

For this reason I'd say:
* SeriLog (Adopt)
* Log4Net (Endure)

I can't see much benefit in retiring and having only a single logging library (though happy

[2018-11-02 10:18] rmc47 commented on #17
@adrianbanks What @fffej said, basically, though I realise that doesn't help you immediately. (But it seems a mild shame to introduce it now if you aren't already using it, knowing that we have a better plan on the table.)

I _thought_ I'd heard of other teams moving away from Raygun towards AppInsights - but I may have been mistaken.

[2018-11-02 10:32] fffej commented on #20
Paging @edwardcasbon for the web team perspective. I was hoping to get stats on what browsers people use to visit www.red-gate.com, but GA is being less than friendly at the mo'.

[2018-11-02 10:32] fredjeronimo commented on #17
@rmc47 , @adrianbanks  - I just wanted to clarify that the idea behind our chat yesterday was not to retire Raygun per se. Raygun has a lot of advantages going for it and the functionality it provides out of the box is very helpful to both the development teams and support. I'd be very surprised in AppInsights would be able to do all of that. We've been very happy with it in Prompt and I've done a

[2018-11-02 10:44] edwardcasbon commented on #20
Thanks @fffej . Since August 1st (so 3 months) the browser split has been as follows:

- Chrome: 70.13%
- IE: 10.25%
	- 11: 94.10%
	- 7.0: 4.91%
	- 9.0: 0.48%
- Firefox: 8.67%
- Edge: 4.84%
- Safari: 3.80%
- Opera: 0.84%

When developing for the Redgate website we aim to support evergreen browsers (latest versions of Chrome, Firefox and Edge) + IE 11.

[2018-11-02 10:44] fffej commented on #16
With NuGet the libraries are "chunkier" so having all the libraries there feels plausible. JavaScript has a very different outlook (see [On the Impact of Micro-Packages...](https://arxiv.org/pdf/1709.04638.pdf)).

What about if we exclude micro-libraries? `uuid`  and `classnames` both have zero dependencies (and all the others mentioned on this thread don't).

Shall we exclude NPM micro-libraries

[2018-11-02 10:47] ChrisHurley commented on #20
The reason we've been concerned with IE11 support has primarily been because it's the standard browser on an OS we still support (Windows 7/Server 2008 R2) and we weren't sure if people have Chrome/Firefox installed on servers, if they wanted to access Clone from them.

[2018-11-02 10:49] ChrisHurley commented on #36
We use `System.IO.Compression`, which supports `ZipArchive` since .NET 4.5:
https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchive?view=netframework-4.7.2

[2018-11-02 10:49] fffej commented on #20
Let's favor consistency across Redgate. I think that means:

Adopt:
* Chrome
* FireFox
* Edge
* IE 11

Retire:
- IE 10 and less

Any disagreements?

[2018-11-02 10:51] samblackburn commented on #13
Multiple mocking frameworks can coexist so at least the change can be made incrementally.  That said, I don't think I'd bother moving a large test suite from Moq to NSubstitute or vice versa just for the sake of uniformity.

Mocks vs fakes are different tools for different jobs: A simple `Mock<IFur>()` will let me avoid nullrefs without the risk of side effects, while a fake makes more sense when

[2018-11-02 10:55] ChrisHurley commented on #17
I wasn't aware that teams were trying to use AppInsights as a way of recording errors - would be interesting to see how that works if so.

Raygun is ok, but I don't particularly love it.

[2018-11-02 10:57] allymparker commented on #15
So are we saying modern JS (ES6+) is fine as well as TS?

[2018-11-02 10:58] smobs commented on #15
I believe the aim of the radar is consistency and deliberate choice so we should pick one and TS is a bit better

[2018-11-02 11:00] tugberkugurlu commented on #20
Does this mean we have to support all these, including IE 11? TBH, we don't have any intention to support IE 11 for Data Catalog as we don't have anyone blocked on this.

[2018-11-02 11:02] garethbragg commented on #35
Strongly agree it's a thing we should do (assuming the use case is suitable).

What products would it be relevant for? What are they doing now, if not using SCA?

Are there any instances of us doing this anywhere?

(I'm wary of putting something in Adopt because we "think it should" be there, rather than reflecting where we actually are.)

[2018-11-02 11:08] garethbragg commented on #33
Good question!

Since they seem to be the default, I guess Powershell cmdlets should be in _Adopt_.

Not so sure on "plain old commandline". My gut reaction is _Endure_.

Does raise questions regarding potential Linux support for things in future, maybe?

[2018-11-02 11:11] garethbragg commented on #32
Do we have a full house on this one?

Adopt: JSON
Endure: XML
Retire: Registry
Explore: Something-that-isn't-these-but-is-dotnetstd-and-is-good-for-sysadmins

[2018-11-02 11:13] garethbragg commented on #30
Considering how widely it's used, I do think Sonarqube should be in _Adopt_.

Quite happy for any alternatives to be in _Explore_.

[2018-11-02 11:13] fffej commented on #20
@tugberkugurlu There's a strong benefit for us to have a single consistent story about where our software works and where it doesn't. ~10% of customers still use IE 11 which seems significant enough not to ignore.

In terms of what to be about new products such as Data Catalog - I think it's fine to descope support for IE11 now (since finding product/market fit is more important!), but before we r

[2018-11-02 11:15] garethbragg commented on #29
If we have a thing that we acknowledge we don't want, I'd support it going in _Retire_.

Even if we only have one instance (lookin' at you, RavenDB), I like calling out cruft.

[2018-11-02 11:18] smobs opened #38 "Release management"
* Adopt - Releasing via a single script
* Endure - Manual releases via the release app

[2018-11-02 11:35] garethbragg commented on #18
It feels odd to not have an _Adopt_ answer to this question, but I actually think that's a fair reflection of where we are.

Is there anything else being explored, beyond the (definitely interesting) SQL Clone instance? Electron app autoupdating, maybe?

[2018-11-02 11:36] nyctef commented on #25
Is anyone still using VMWare instead of virtualbox to run VMs? I was going to say vCloud and/or VMGetter as well but those appear to be properly dead.

devcloud is probably relevant (Adopt) in this area as well?

[2018-11-02 11:36] fffej commented on #13
Sounds sensible @samblackburn - wonder if we could be a bit more opinionated though? If we have too much in "Explore" then we'll not start to converge.

Adopt  - NSubstitute (easier to use than Moq as @ChrisHurley mentioned)
Endure - Moq (as @samblackburn says changing it over for the sake of uniformity seems like a bad idea so endure seems more sensibel than retire)
Explore - Fakes (as a techniqu

[2018-11-02 11:43] rmc47 commented on #25
At the risk of it getting too fine-grained, would it be worth splitting DevCloud into "DevCloud: long-running VMs" - Retire; "DevCloud: automatically built ephemeral VMs" - Adopt?

There might be more concise words for those, but the concept is that we should probably be moving away from black-box VMs that we can't trivially rebuild on demand.

[2018-11-02 11:44] fffej commented on #38
Do we _really_ want to continue doing manual releases? (disclaimer: don't know how many teams currently do this!).

[2018-11-02 11:45] nyctef commented on #18
IIRC foundry use the autoupdate built into `electron-builder`: https://www.electron.build/auto-update. We considered it for Figleaf as well, but assumed we'd be required to build a redgate installer at some point (to integrate with release/licensing/bundling/etc) so skipped straight to that as part of our walking skeleton. The `electron-builder` implementation is extremely slick, though.

[2018-11-02 11:51] nyctef commented on #38
As far as I know most teams now have release scripts, but Prompt and DMv6 are still missing them (we just haven't gotten around to writing that latter one since we release that pretty infrequently). I'd definitely be up for actively trying to retire any manual release processes that we have (including cleaning up some release scripts which are mostly-automatic but have some manual bits at the end)

[2018-11-02 11:55] adrianbanks commented on #18
We need to consider how this works for server tools. Hearing from DBAs on research calls I doubt many of them would want SQL Monitor to auto-update itself. They would however possibly want an easier way to upgrade it.

[2018-11-02 12:31] tugberkugurlu commented on #20
Thanks @fffej, sure, I understand the rationale and I am happy with it. However, the consequences are:

 - We will spend extra time trying to make this work. Considering our initial try, this wasn't straight forward with well-known approached such as pollyfilling (more info [here](https://github.com/red-gate/Mosaic/issues/165#issuecomment-421064636)).
 - It will gradually get worse as the time pro

[2018-11-02 12:32] andrew-farries commented on #16
I vote yes, we should exclude them. The radar will be too cluttered with irrelevant detail otherwise.

[2018-11-02 12:34] tugberkugurlu commented on #20
sorry, found it now https://github.com/red-gate/Tech-Radar/issues/20#issuecomment-435339684

[2018-11-02 12:44] garethbragg commented on #18
@adrianbanks I definitely agree any changes would need serious thought. Just trying to understand (and document) our current state for now, so that thought can be done in a more structured way.

[2018-11-02 12:58] garethbragg commented on #38
I'd be keen for manual releases to be in _Retire_.

I don't think that would force "Move DMv6 over to release scripts" to be a top priority. Leaving that alone seems a pragmatic choice, unless the team think otherwise. I see this as an outlier, which I don't think should have too strong an influence on the tech radar?

(Please do challenge me if you think we should "document the lowest denominator

[2018-11-02 13:02] samblackburn commented on #38
1. Adopt `basic-release.ps1` if possible, does what most products need in one line
2. The rest of RG.Release is there if your release process differs slightly
3. Arbitrary PowerShell if you're doing stuff no other product needs to do
4. Manual processes for whatever you can't automate

[2018-11-02 13:06] garethbragg opened #39 "Scope of Tech-Radar?"
A couple of comments have questioned the scope of this techradar. Is it:

* Product-division specific?
* including CoreDev?
* including the webteam?

IF the former, we must consider the other contexts (discussions on [Infrastructure management](https://github.com/red-gate/Tech-Radar/issues/25) and [Supported Browsers](https://github.com/red-gate/Tech-Radar/issues/20) proves this, IMO).

[2018-11-02 13:19] mark-raymond commented on #18
@adrianbanks What we've got so far in SQL Clone is when there's an update available, you can just click "Update" in the UI, and it will update in the background. So it's much easier to update. Only those in the Admin role are allowed to initiate the update through the UI.

[2018-11-02 13:30] fffej commented on #31
Doesn't seem there's any dissent here - @smobs could you create a PR for this?

[2018-11-02 13:30] mark-raymond commented on #25
@nyctef I heavily use VMware myself. The concrete reasons I can think of is I have an existing library of VMs set up in a way that is useful for testing SQL Clone, with significant snapshot history, and that VMware can free up unused disk space from disk images, which I haven't seen VirtualBox successfully do.

[2018-11-02 13:34] fffej commented on #20
We'll revisit this issue when we next review the Tech Radar, but for now we've gone for broad compatability across all products and included IE11 in the support.

Thanks to all for the great discussion around this!

[2018-11-02 13:34] #20 closed

[2018-11-02 13:37] ChrisHurley commented on #16
We also use draftjs for our search bar (possibly a bit of a specific use for a rather more general library).

We use [pegjs](https://pegjs.org/) to generate a parser for the search bar.

We've ended up with both react-select and react-autocomplete, sadly, because react-select doesn't support a behaviour we needed.

We actually use underscore rather than lodash, but I imagine we could move across.

[2018-11-02 14:34] garethbragg commented on #16
Point of interest: Enzyme is the in _Adopt_ section of Thoughtworks' own tech radar:

[2018-11-02 14:43] garethbragg opened #40 "Lightweight Architecture Decision Records"
I notice [lightweight ADRs](http://thinkrelevance.com/blog/2011/11/15/documenting-architecture-decisions) are in the _Adopt_ section of [Thoughtwork's tech radar](https://www.thoughtworks.com/radar/techniques):

This is a practice used by some Redgate teams already.

Should this be in our techradar? If so, where?

I'd suggest in the _Techniques_ quadrant, either in _Adopt_ or _Explore_?

[2018-11-02 14:56] #34 closed

[2018-11-02 15:01] fffej commented on #29
In summary, I think this:

Retire:
* Fody
* IL Weaving (with the description that this isn't merging as @ChrisLambrou points out `ILMerge` can be useful).

Anyone want to make a PR for this?

[2018-11-02 15:29] fffej commented on #36
Given we're all on .NET 4.5 or above and a strong preference for using the framework wherever possible (in this case it is supported on .NET Core too) I'd go for

Retire
* Zip file format - Prefer using `System.IO.Compression`
* Dot Net Zip - Prefer using `System.IO.Compression`

[2018-11-02 16:48] tugberkugurlu commented on #40
I would suggest that this should go into Adopt.

We are applying this as a team (/cc @red-gate/spiders). Some examples [here](https://github.com/red-gate/SQLEstateManager-vNext/tree/master/.adr) and [here](https://github.com/red-gate/Mosaic/tree/master/.adr). However, I am not entirely sure we are doing this right based on the discussions we are having around this lately :)

Most useful bit to me

[2018-11-02 16:56] Michael-Upton commented on #28
Whereas I disagree almost entirely. I find Autofac easier to read and use, more powerful (lists, factories, and lifetimes controlled in an intuitive way with IEnumerable, Func, and Lazy) and I prefer its opinionated approach (configure then build, the injectee doesn't get to control how things are injected in to it, etc.).

Autofac does decorators too (https://autofaccn.readthedocs.io/en/latest/ad

[2018-11-02 17:15] tugberkugurlu commented on #35
I would be up for this if we have our systems hosted and we control the database deployment (e.g. Azure SQL DB case, etc.). However, there are still trade-offs which I am not sure we would want to take:

 - We are releasing our products to our customers environment and we need to get from one version of the database schema to the latest during the deployment. If we were to use SCA, how would that

[2018-11-02 17:31] tugberkugurlu commented on #36
DLM Dashboard uses 7zip in order to get around notorious path is too long problem on Windows. More info on this [here](https://github.com/red-gate/sqllighthouse/pull/434).

Not advocating this but it's another thing we use and we had a reason to do so. .NET 4.6.2 seems to solve this problem https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/ but I am not

[2018-11-02 17:48] tugberkugurlu opened #42 "[Techniques] Domain-driven Design"
Spiders team have been exploring Domain-driven Design (DDD) in our journey towards stabilizing SQL Data Catalog offering. It's early days for the team to tell about what's working, what's not. There are several reasons to choosing to explore this technique:

 - Keep ourselves honest about striving for [persistence ignorance](https://stackoverflow.com/a/18352064/463785) through proper domain modeli

[2018-11-02 17:48] tugberkugurlu commented on #42
@chenchen1987 anything else you want to add?

[2018-11-02 17:59] Michael-Upton commented on #26
log4net also forces (?) use of a single static logging root, which causes massive problems in the SSMS plugins (e.g. many of SOCs log outputs end up in SQL Test)

[2018-11-02 18:10] Michael-Upton commented on #33
For Linux support we might want to Explore `PowerShell Core`

[2018-11-02 19:38] fffej commented on #26
@Michael-Upton Would you say that's strong enough to change the status to retire Log4Net?

[2018-11-02 21:50] ChrisLambrou commented on #28
Aw, I was hoping that the decorator syntax might have improved since I last used it, based on your comment. But it's still as poor as I remember it. It involves naming things, being obliged to make those names match across statements, and one of the lambdas directly invokes a constructor, which is just the kind of thing I want a DI system to stop me having to do.

To be honest, whenever I've flipp

[2018-11-03 04:57] StephanieHerr commented on #35
@tugberkugurlu - for remote deployments, check out https://documentation.red-gate.com/sca3/tutorials/worked-examples/embed-change-script-into-application

Unfortunately, I think you would need to write all the T-SQL by hand.  @way0utwest - is there anything that can help here?

I'd actually love for you to try it and give us feedback.  If it doesn't work for some reason, that's what we need to kno

[2018-11-03 05:13] StephanieHerr commented on #21
Ben Rees and the P&P committee have done some work on this - https://info.red-gate.com/rg/blog/2018/08/updated-pricing-strategy-for-redgate

[2018-11-03 15:22] tugberkugurlu opened #43 "Scope of Explore Ring - commitment and accountability?"
Currently, the scope of Explore ring is as below:

One can infer from this that this can be a wishlist of what we want to look into. I can see a value of this. However, in scope of Tech-Radar, it might be more effective to us to constraint this ring to only hold items which teams are actively trying out.

So, I propose that we change the scope of this to emphasise:

 - commitment: Only an actively

[2018-11-03 15:31] tugberkugurlu opened #44 "Should Adopt ring require previous success?"
A few of the suggestions are proposing to put some items under Adopt and some of them have no trial or previous success associated to them in context of our product teams (as far as I am aware of, I could be wrong). #35 is a good example to this. Even if the approach is a very successful one and has been battle tested for years, we have no experience of using this for our products. Therefore, I do

[2018-11-03 15:34] tugberkugurlu commented on #39
Related to this, I believe we could do better to make it more clear what each ring means to us and what can go into each. This can make it easy to get us completeness for the v1 of the Radar as we will put constraints on each.

A few ideas on this:

 - https://github.com/red-gate/Tech-Radar/issues/43
 - https://github.com/red-gate/Tech-Radar/issues/44

I believe it would make us move faster on the

[2018-11-04 17:36] fffej commented on #28
Sounds like this is a coin toss 😄 They both have almost the same amount of ⭐️ and questions on Stackoverflow.

There seems to be a slight preference for AutoFac (and from me I think the documentation for [AutoFac ](https://autofac.readthedocs.io/en/latest/)looks great), so I'm going to suggest:

Adopt:
* AutoFac

Endure (since I don't think there's any benefit for removing NInject from projects  t

[2018-11-04 17:37] fffej commented on #23
👍  for CEF in Retire.

Electron is probably in Explore (we've only got one app using it and haven't shipped a lot yet?). Would you agree @smobs?

For plugins I agree with @MichelleTaylorRG - it's probably the UI framework of the host thing we're plugging into, and I think that's WPF in all cases).

[2018-11-04 17:44] fffej commented on #27
For the C# stuff, it feels like we're pretty close to consensus?

Adopt:
* NUnit 3

Retire
* NUnit 2 (simplifies build/test system - I could be argued down to Endure 😄 )

For xUnit/Fixie - what benefit could these packages give us? Is there anything significant enough to warrant putting them in Explore? From a quick look, they looked different (maybe more customisation)? I'm worried about the knoc

[2018-11-04 21:57] nyctef commented on #27
I don't think actively retiring NUnit 2 simplifies our build/test system - we [tend to encourage people](https://redgate.slack.com/archives/C099Y4DH9/p1539957554000100) to manage their own testing dependencies for exactly this kind of reason, so I think Endure is probably most appropriate.

As far as I know xUnit tends to be supported everywhere NUnit is (eg in NCrunch/R#/teamcity/etc at least) -

[2018-11-04 22:06] nyctef commented on #44
In general I think this is a good principle and I agree with it, but I think we might want to make a specific exception for dogfooding our own products - because we gain extra value from battle-testing our own products and learning about their limitations.

[2018-11-04 22:11] nyctef commented on #23
~~SQL Ops Studio~~ Azure Data Studio [might the exception here](https://medium.com/ingeniouslysimple/how-we-built-an-extension-for-sql-operations-studio-f93532ce4456), but yeah generally WPF (without any attempts at cross-process UI remoting or other shenanigans) seems to be the right answer there.

[2018-11-05 08:31] tugberkugurlu commented on #44
true but I would still want to derisk the situation by letting one team to explore it first and then reporting back to recommend where to take it.

[2018-11-05 08:48] garethbragg commented on #44
For v1 of the tech radar, I'd much prefer we record the reality of where we are. That, in my mind, means anything in _Adopt_ must be successfully in-use with at least one Redgate team.

Yes, dogfooding our product would be good. But we don't do it already. We need to _explore_ where our products can be effectively dogfood-ed and see how successfully we can do it before the practice can be successf

[2018-11-05 08:57] garethbragg commented on #43
My "worry" with this approach is that we don't show anything Redgate _wants_ to explore but hasn't started yet. Presenting this has some benefits:

* Encourages people to try out _relevant_ new stuff, rather than picking any arbitrary shiny-shiny
* Puts pressure on us to draw explorations to an end so we can move on to other ideas

Reading them back, these don't feel especially well aligned with o

[2018-11-05 09:12] allymparker commented on #15
So are you writing your webpack config in TS?

[2018-11-05 09:52] allymparker commented on #15
We’re not discussing removing C# from the tech radar

From: Toby Smyth <notifications@github.com>
Sent: 05 November 2018 09:28
To: red-gate/Tech-Radar <Tech-Radar@noreply.github.com>
Cc: Ally Parker <ally.parker@red-gate.com>; Mention <mention@noreply.github.com>
Subject: Re: [red-gate/Tech-Radar] JavaScript - Endure? (#15)

Are you writing your build scripts in C#?
_______________________________

[2018-11-05 10:00] allymparker commented on #16
We have a bunch of VERY legacy rx.js based UIs in SQM - It is Microsoft Reactive Extensions for JavaScript but is pre-2013.  We have exactly 0 hope of ever upgrading to the latest RX.js

[2018-11-05 10:07] Greg-Smulko commented on #26
@Michael-Upton @fffej , regarding:

While I appreciate that it is a real problem, I don't think that's an issue with log4net, but rather how we use it.
See: https://redgate.slack.com/archives/C83J3KE82/p1539864322000100, basically Logging Repository may be a solution: https://logging.apache.org/log4net/release/manual/repositories.html

[2018-11-05 10:12] SimonHolness commented on #39
COREDev actively _want_ to align with what's happening in Product teams. So we'll be paying attention to and trying to use the tech radar. From my personal perspective the border between COREDev, Webteam and Product Teams is slightly nebulous and arbitrary - this is all tech development RG's performing and even if management structures and local goals (_for local people_) differ, we're all working

[2018-11-05 10:32] garethbragg commented on #40
PR raised to resolve this. Closing the issue down.

[2018-11-05 10:32] #40 closed

[2018-11-05 10:43] nyctef commented on #27
Just remembered we've been using some custom assertion libraries like `FluentAssertions` and `Shouldly` on top of NUnit - these should probably go into the radar around here as well. Both of them improve code readability and error usefulness over the default NUnit assertions.

- `FluentAssertions`: has a wider variety of assertions you can use (including `ShouldBeEquivalentTo()` for comparing enti

[2018-11-05 10:46] chenchen1987 commented on #42
@tugberkugurlu  well summed up. Nothing to add here

[2018-11-05 10:47] smobs commented on #15
We aren't talking about removing JS from the radar either.
Webpack configs are glorified JSON, and actually it's a bit magic and would benefit from types.

[2018-11-05 10:48] smobs commented on #15
Sure though JS is fine for build configuration, doesn't mean its in adopt.

[2018-11-05 10:58] ChrisHurley commented on #43
I do think that there needs to be some sort of process around things moving between rings - if something is in "explore" it needs to eventually move somewhere else (or fall off the radar entirely). It does feel that it needs regular review and some guidance - am I allowed to use things in "explore" in product code because I fancy giving them a try, or does this mean that they're being evaluated in

[2018-11-05 11:35] ChrisHurley commented on #35
We're using EF Core code-first as an ORM (I don't think our database access code contains any direct SQL querying), and it generates schema migrations for us (which we can then add custom SQL to for data migrations if required). As I understand it, using SCA would separate the in-app model from the database schema and require us to make the changes in two places and keep them in sync.

The system

[2018-11-05 11:42] ChrisHurley commented on #32
Perhaps just worth noting if we're moving things out of the Registry that we might want some guidelines about where we do store configuration, or it'll be strewn all over and we might have issues with permissions (and e.g. what should be in Roaming vs Local)?

[2018-11-05 11:44] ChrisHurley commented on #33
I do think whether we should be providing a plain commandline *in addition* to cmdlets is an interesting question, and not necessarily one I have strong feelings on.

Users seem to be all over the spectrum on this, with some enthusiastic about using PowerShell for all the things, and others needing help from Support to adapt simple worked examples.

[2018-11-05 12:37] garethbragg commented on #24
Should we be more specific? 'SQL Server on Linux' in _Explore_, rather than Linux in general?

I feel Oracle database should be in _Explore_ too given the interest in our current Oracle tools.

I'd be inclined to not mention any other database stacks right now.

These should probably be in the _Platform_ quadrant?

[2018-11-05 12:40] garethbragg commented on #14
So it sounds like:

Adopt: Standardised build scripts
Endure: Custom build scripts
Retire: Build magic

(Based on our current definition of _Endure_: "This is no longer how we do things. It is OK for this to be used in Product Development, but don't add more of it and **migrate off it wherever possible**".)

Is there a more concise/meaningful form of "Standardised build scripts"? `RedGate.Build`,

[2018-11-05 12:51] garethbragg commented on #17
I'd suggest we tackle the Raygun question separately. That's Error Reporting, not Feature Usage Reporting. I think we're in different places on those two domains.

For usage reporting:

Adopt: RedGate.Usage.Client
Adopt: AppInsights
Retire: MixPanel
Retire: Google Analytics
Retire: Smart Assembly

For error reporting, I think the current state is already on the [tech radar](https://radar.thoughtwo

[2018-11-05 12:56] garethbragg commented on #19
Adopt: Wix 3
Retire: Wix 2
Endure: Inno Setup

[2018-11-05 12:59] garethbragg commented on #25
Adopt: Vagrant
Adopt: Puppet
Adopt: DevCloud
Retire: Long-lived Virtual Machines
Explore: Docker
Explore: Kubernetes

(I don't think it's worth putting VirtualBox or VMWare on here. That's a client decision, and I don't see the value in radar-ing it?)

[2018-11-05 13:00] adrianbanks commented on #27
@fffej I only mentioned xUnit and Fixie as they were testing libraries we could also choose. I've used them a bit in my own things are they are more flexible than NUnit, but I don't think we should include them unless they are already in use within Redgate.

[2018-11-05 13:06] ojhall commented on #15
`Adopt - This is the technology you should be choosing to solve a problem. Everything in here forms our default set of technology choices (for example, C#)`

I don't think the fact that our webpack config files are written in JS qualifies the language to be one of our 'default technologies we choose to solve problems', and if it does, so does so much other technology that the radar's Adopt segment

[2018-11-05 16:47] fffej commented on #39
@SimonHolness I think that's great, happy to broaden the scope to include  _all_ technology across the business. I'll add a PR to reflect this in the `README.md` file.

@smobs I don't think their tech becomes ours (or at least it's not as simple as that). Early stage R&D is often more about product market fit more than using tech to solve problems.

[2018-11-05 16:54] fffej commented on #42
@tugberkugurlu Really happy with exploring DDD. Do you want to make a PR and I'll merge?

In terms of accountability - once we've got v1 of the Radar out I'm going to suggest we review it on a regular cadence (3 months? 6 months?). I hope the accountability will come by you providing an update at that point about what you've learnt about DDD, why it works (or why it doesn't) together with a recomm

[2018-11-05 18:05] fffej commented on #27
Sounds like we've got consensus on

Adopt
* NUnit 3 (the default choice for new things)

Endure
* NUnit 2 (doesn't cause us any problems, no benefits in upgrading in terms of simplifying).

Does anyone fancy making a PR on this and I'll merge it? (I'm trying to avoid being always me that creates PR's 😄)

[2018-11-05 20:48] tugberkugurlu commented on #28
I can PR this ✋

[2018-11-05 21:03] tugberkugurlu commented on #35
I don't believe we will have or suggest any integrations through data storage technology. At least this is what I am aware of. Our technical strategy sort of steers us to this direction by stating that all capabilities should be API-led. How the data is stored is purely implementation level concern and integrating at this level could be very costly (ahem, #34).

As exampled here, I strongly believ

[2018-11-05 22:47] ChrisLambrou commented on #35
FWIW, I think we should make an important distinction between products and services where Redgate directly manage and maintain the databases (think of hosted offerings) vs products that use a database deployed within the customers' own environments (i.e. Clone, Monitor, Data Catalog, Dashboard, etc.). For the former, we really ought to be dog-fooding our own stuff. It's embarrassing that we're not

[2018-11-05 22:52] ChrisLambrou commented on #35
That said, it's been a little while since I've worked with our SCA offerings, and I'd be really interested to know how SCA could support a migrations-base approach (that's really similar to the home-grown system we have in Monitor, which has been rock-solid and easy to work with over the years).

[2018-11-05 22:57] ChrisLambrou commented on #38
Rob Chipperfield has always chimed in on this subject in the past, with good arguments about requiring releases to be traceable to specific individuals, possibly for legal reasons. It's definitely worth bringing this issue to his attention, which I can't do right now because the mobile GitHub app is properly pants!

[2018-11-05 23:14] ChrisLambrou commented on #36
The zip file format is the ubiquitous archive format. Enduring it means we should tolerate existing uses, but avoid creating new uses. What's the preferred alternative, when an archive format is required? Or am I missing something, here?

[2018-11-05 23:20] ChrisLambrou commented on #33
I wonder if it's worth exploring going PowerShell first, and then provide a more limited command-line offering via a `.cmd` script to expose basic use cases, rather than creating a full-blown console application? Might be nice to try this one something like SQL Clone.

[2018-11-05 23:22] ChrisLambrou commented on #33
If we're considering promoting PowerShell cmdlets, should we also be expressing guidance on script modules vs binary modules?

[2018-11-05 23:35] ChrisLambrou commented on #24
What about Linux as a platform for Redgate software, via .NET Standard and .NET CORE?

[2018-11-05 23:51] ChrisLambrou commented on #35
I've watched most of the videos, and I've both developed and/or actively used most of our SCA tools, but I'm still finding it hard to imagine what a great approach to using SCA for products where the db is outside of our direct control looks like. EF migrations, on the other hand, supports this out of the box. SCA needs to better this.

I definitely agree with you about the data modelling issues.

[2018-11-06 07:14] #28 closed

[2018-11-06 07:17] #42 closed

[2018-11-06 08:08] smobs commented on #39
@fffej sorry I should have phrased it as 'in a non ideal world we inherit their codebases'.
Additionally I believe part of their remit is researching and suggesting technology for prod-div to adopt

[2018-11-06 08:11] garethbragg commented on #35
Based on this discussion, I don't think we can put SCA in the _Adopt_ category of the tech radar. There's clearly too much to figure out for it to be our defacto choice at the moment.

I'll open a PR to put this in _Explore_.

[2018-11-06 08:13] #31 closed

[2018-11-06 08:13] fffej commented on #31
(see #50)

[2018-11-06 08:34] garethbragg commented on #24
Which brings us neatly back to #39.

[2018-11-06 09:31] rmc47 commented on #38
Sorry, that was long and waffly. TLDR: yes, current scripted releases tick all the boxes!

[2018-11-06 13:12] #13 closed

[2018-11-06 13:20] garethbragg commented on #23
How about:

Retire: CEF
Retire: Winforms
Adopt: WPF
Adopt: Electron

Probably with a mention in the WPF/Electron descriptions about when/where they are the preferred option?

[2018-11-06 14:31] nyctef commented on #33
related issue we've just run into on Figleaf (where we currently have a plain commandline): how do we parse commandline options?

We currently have `RedGate.Legacy.Commandline` (the old Shared.Utils implementation) currently in Endure, ideally moving to Retire at some point.

In the past we've used `NDesk.Options` which seemed to work pretty well, although I don't know of any products which are ac

[2018-11-06 14:58] ChrisHurley commented on #35
We actively discourage people from integrating with our database - we provide an API to interact with Clone in the correct manner, and the only code we have added to it is to prevent people deleting rows from it. Users modifying the database and expecting that to work has been a source of support tickets, and one of our anxieties around using a SQL Server database was that people might write thing

[2018-11-06 17:51] way0utwest commented on #35
I think Explore is a fine place here.  I'll volunteer Mr. Hurley or Mr. Lambrou here as they seem to doubt that this is very useful. I wouldn't argue it's better, but I would argue that using this and experimenting to better understand how it works, especially compared to EF, is a good move for Redgate. This isn't about cleverness, but rather building better products at Redgate.

If SCA substantia

[2018-11-07 11:12] #44 closed

[2018-11-07 11:17] #30 closed

[2018-11-07 11:18] fffej commented on #43
@tugberkugurlu There's a PR with some suggestions around this - what'd you think?

[2018-11-07 11:34] #17 closed

[2018-11-07 11:41] #19 closed

[2018-11-07 11:43] fffej commented on #21
I'm going to close this as off-topic (mostly for the reasons that @MichelleTaylorRG mentioned). Let's leave this to the Pricing and Packaging committee and restrict the radar to the technical decisions that teams can take.

[2018-11-07 11:43] #21 closed

[2018-11-07 11:44] fffej commented on #29
Perhaps @fredjeronimo could make a PR? 😄

[2018-11-07 12:48] nyctef opened #61 "Testing framework (web)"
Pulling this out of https://github.com/red-gate/Tech-Radar/issues/27:

we have a few different testing stacks so far:

- for running unit tests outside of the browser:
  - jest (with optional enzyme for testing react components)
- for running unit tests inside the browser:
  - karma+jasmine
- for driving an entire web application:
  - figleaf is currently using jest+spectron (which is chromedriver

[2018-11-07 12:48] nyctef opened #62 "Testing framework (Powershell)"
Pulling this out of https://github.com/red-gate/Tech-Radar/issues/27:

Are there any alternatives to Pester we should be considering?

[2018-11-07 13:02] idursun commented on #61
We are using [karma](https://karma-runner.github.io/latest/index.html) to run our JS unit tests.

SQL Monitor frontend has many JS dependencies (most of them are being out of date) and the UI has to function properly on IE11 as well. Karma is running the test suite inside each targeted browser which helps us to test the JS code against multiple browsers by *actually* running them inside the browse

[2018-11-07 13:29] nyctef commented on #29
I think ideally we'd close the issue [in a PR](https://help.github.com/articles/closing-issues-using-keywords/) which actually adds the decision to the radar

[2018-11-07 13:38] nyctef commented on #61
Ok, we have a few different testing stacks so far:

- for running unit tests outside of the browser:
  - jest (with optional enzyme for testing react components)
- for running unit tests inside the browser:
  - karma+jasmine
- for driving an entire web application:
  - figleaf is currently using jest+spectron (which is chromedriver under the hood) to run a basic test against an installed product

[2018-11-07 13:59] allymparker commented on #29
🤦‍♂️ My bad!  Will do!

[2018-11-07 14:06] fredjeronimo commented on #29
I'm creating the PR now :)

[2018-11-07 14:40] #29 closed

[2018-11-07 14:47] #27 closed

[2018-11-07 15:12] deneboulton commented on #61
* `Jest` is nice (it's built on top of jasmine)
* 'Enzyme' works really well for React components
* Previously used `Jasmine`, 'Karma` & 'Mocha` for various projects and they have worked well
* `Cypress` is nice and worth considering for end-to-end tests

[2018-11-07 17:37] tugberkugurlu commented on #43
closed by https://github.com/red-gate/Tech-Radar/pull/53

[2018-11-07 17:37] #43 closed

[2018-11-08 11:16] fffej opened #65 "Designing Products"
How should we categorize the tools, patterns and frameworks that the Product Designers use?

[2018-11-08 11:16] #14 closed

[2018-11-08 14:32] MichelleTaylorRG commented on #23
I guess the other question is 'are these frameworks or tools?' - I'm not 100% sure what quadrant they belong in

[2018-11-08 14:57] fffej commented on #23
On the subject of which quadrant, let's say frameworks (because it's a bit arbitrary anyway!).

@MichelleTaylorRG If WinForms is in retire, does Toolbelt have any products in that area? The implication is that we would seek to get that technology out of the business asap.

[2018-11-08 15:00] fffej commented on #62
Paging @ChrisLambrou - is Pester something we're actively using already that you'd recommend for everyone? Or is it something we should explore as a way of testing Powershell?

[2018-11-08 15:42] ChrisLambrou commented on #62
It's pretty much the de-facto testing framework for PowerShell. So much so that the Pester module comes pre-installed with PowerShell, though you typically need to update it. We use it in places where we're working in with PowerShell rather than directly with .NET code. I can think of [RedGate.Build](https://github.com/red-gate/RedGate.Build/tree/master/Tests) _(our best example)_ and the [DLMA VS

[2018-11-08 15:43] allymparker commented on #15
(For ref, there is _no_ sarcasm in any of the below)

I guess I'm comfortable with weak types, chrome debug tools, Jasmine/test coverage and PropTypes for components. I get it's not for everyone and if it makes more sense for RG as a whole then it should win out on my personal taste!

I just not sure adding TS at this point in time with Monitors code and with little experience of TS on the team is

[2018-11-08 15:47] allymparker commented on #26
FWIW Monitor is using L4N, but I have no strong feelings one way or another!

[2018-11-08 15:50] allymparker commented on #26
@fffej Could you elaborate on:

What's meant by libraries in this case?

[2018-11-08 15:54] fffej commented on #26
@allymparker In that case I was thinking NuGet packages (I think it's weird that using a particular package would force my choice of logging framework).

[2018-11-08 15:55] fffej commented on #62
@ChrisLambrou Happy to go with that, want to make a PR?

[2018-11-08 15:56] ChrisLambrou commented on #62
Okay, will do.

[2018-11-08 16:07] ChrisLambrou commented on #62
And [done](https://github.com/red-gate/Tech-Radar/pull/67). Assigned to Jeff, but I guess anyone could review and merge this, right?

[2018-11-08 16:07] #62 closed

[2018-11-08 16:08] allymparker commented on #23
As much as I prefer web UI dev over WPF/winforms, I'm not sure how strongly "proven" this is as a choice yet?  ThoughtWorks had it in Assess, but have [archived it from their tech radar](https://www.thoughtworks.com/radar/platforms/electron) (although I'm not 100% on the significance of this)

Just to make things a bit more complicated, at what point does a "tool" move from being a desktop app ins

[2018-11-08 16:24] santiaago commented on #15
I am with @allymparker on this, JS is the main language and is here to stay.

I would allow both, JavaScript and TypeScript. JavaScript allows me to go fast and it never gets in my way. I don’t see a problem in both coexisting, also, TypeScript is a JavaScript superset so they will alway exist together.

For new projects and foundry especially I would alway go for JavaScript over TypeScript is spe

[2018-11-08 16:35] fffej commented on #15
Would you be more specific about JS? Do we say

Adopt
* JavaScript (ES6+)
* TypeScript

Perhaps we clarify the different benefits in the description for each?

[2018-11-08 16:48] TheEadie opened #68 ".Net Framework versions"
Should the radar include which .Net frameworks we should be targeting?

Adopt:
- .Net Standard 2.0
- .Net Framework 4.6.1 and higher

Explore:
- .Net Core 2.x

Retire:
- .Net Framework < 4.6.1

[2018-11-08 16:54] TheEadie commented on #68
Just seen this is covered.

[2018-11-08 16:54] #68 closed

[2018-11-08 17:08] smobs commented on #15
JS in endure means you can keep using it for your product if you are already using it. Plus as @Santiaago mentions the context switching is easy whilst your codebase converts.
I believe that it is quicker to write code in dynamic languages. If we are writing prototypes to throw away then maybe we should write the whole thing in JS including the backend. Can we have "prototyping languages" as a thi

[2018-11-08 20:43] chenchen1987 opened #69 "[Tool] Tools for Architecture Diagrams"
The Spiders team have been exploring ways to make ever green architectural diagrams of the data catalog. As a result, [Lucidchart](https://www.lucidchart.com) has been put on the table.

### Why is maintaining an ever green architectural diagram important

- Per description in #42, the team is investing time effort into adopting DDD pattern into SQL Data Catalog, one of the foreseen difficulties t

[2018-11-09 07:30] fffej commented on #15
I don't think we're going to get to a _right_ answer here because it's not as simple as that. I buy @santiaago and @allymparker description of the benefits of modern JavaScript, and TypeScript clearly has a fair bit of ❤️  too.

We'll review the Tech Radar regularly, so let's get a bit more experience before we start to be more opinionated. II've separated out ES6 because modern JavaScript is way

[2018-11-09 07:32] fffej commented on #69
Excellent - I guess @fredjeronimo might chime in here with whatever tool the Prompt team used to produce the [C4 diagrams](https://c4model.com/) for Prompt?

[2018-11-09 08:32] smobs commented on #15
:+1:

[2018-11-09 09:46] adrianbanks commented on #69
There's also [Strucurizr](https://structurizr.com) (made by Simon Brown who came up with the C4 model) which enables you to create architecture diagrams from code with some hope of keeping them up to date more easily.

[2018-11-09 09:58] nyctef commented on #69
I think in an ideal solution, the source of truth for the diagrams would be source-controlled next to the relevant code so we have a chance of enforcing that they change together.

I don't know if lucidchart lets us do something like that - it might just need to export PNGs out to the repo (which can be replaced with PNGs from another tool if necessary). The code definitions from Structurizr look

[2018-11-09 10:20] fredjeronimo commented on #69
We are currently using [draw.io](https://www.draw.io/) for generating our [C4 models](https://info.red-gate.com/display/SP/Prompt%27s+architecture) in Prompt. This was mostly picked as an easy to use and setup solution for what is mostly at present a digital representation of a low tech (post-its and whiteboard) team brainstorm exercise from our new [mob architecture](https://info.red-gate.com/dis

[2018-11-09 10:37] #39 closed

[2018-11-09 10:42] fffej commented on #69
I'd like to make sure the Radar captures the status quo and things we are trialling now (or will commit to) and things we should adopt.

Seems that in _Explore_ we've got both draw.io and LucidChart. These both look like drawing tools (rather than architecture <-> code things). @fredjeronimo and @chenchen1987 Do you think we can get opinionated enough to choose one now?

@adrianbanks and @nyctef h

[2018-11-09 11:03] chenchen1987 commented on #69
Speaking on behalf of the spiders team, we are opinionated enough to choose one now yet. And I've personally not explored extensively of the other tools mentioned in this thread.

[2018-11-09 11:09] fredjeronimo commented on #36
@ChrisLambrou - I think it depends on the intended scope and requirements. Zips might be the most well known public format, widely distributed across platforms (and more accessible) but they pale when it comes to compression rates, recovery mechanisms and even performance. If any of these are critical path (which is definitely not the case for our usage in Prompt) -- e.g. desire to compress and di

[2018-11-09 11:40] fffej commented on #15
Thanks all - clearly a contentious topic, but we've done it 🎆 🍾

[2018-11-09 11:40] #15 closed

[2018-11-09 11:42] fffej commented on #69
In that case, I'd suggest

Explore
- draw.io (and some reasons why)
- LucidChart (and some reasons why)

Next iteration we'll try to understand the pros/cons of both and make a decision about whether converging on a single tool is a good thing (or not!).

Anyone fancy making a PR? 🙏

[2018-11-09 11:45] fffej commented on #61
From the replies it sounds like we'd agree Karma is in the Adopt camp? Probably Jest too?

Does anyone want to propose where everything else should be?

[2018-11-09 11:51] fffej opened #72 "Project Management Tools"
We currently used at least:
* JIRA
* GitHub Issues
* Trello

And I've got a feeling there are many more.

I suspect at least @Michael-Upton and @cj-smithy have some opinions here 😄

[2018-11-09 12:35] tugberkugurlu commented on #72
We as a team have been using GitHub issues for nearly a year now along with [GitHub's project boards](https://help.github.com/articles/about-project-boards/), which have been evolving quite positively and rapidly. It makes the process more efficient for a product team to be able to have issues closer to the environment where we also evolve the codebase. This allows us to take advantage of the tigh

[2018-11-09 12:36] ChrisHurley commented on #61
We have web UI automation testing with Selenium and [nightwatch](http://nightwatchjs.org/), although we've had some reliability problems around timing.

[2018-11-09 12:37] fffej commented on #35
This is a tough one - changing from EF --> SCA doesn't seem like something we'd do (high engineering cost, doesn't directly add any value).

I only want to put SCA in _Explore_ if we've actively got a team committed to using it and at the moment there (sadly) doesn't seem to be any teams in a place to do this.

Perhaps @musmuris or @SimonHolness have an opportunity to use it in our internal system

[2018-11-09 12:45] ChrisHurley commented on #72
GitHub's project boards look like a GitHub issue-based version of Trello to me in terms of the way they're organised and how you interact with them. The main thing that I'm missing there (and what JIRA isn't fantastic at either, but we've found a way to kinda do) is creating different swim lanes - we're usually working on one or two larger initiatives which contain many individual tasks, and then

[2018-11-09 13:00] adrianbanks commented on #72
We use Trello extensively in Hannerheads.

[2018-11-09 13:46] nyctef commented on #72
The masking team have been using Github exclusively for about a year now, and it's worked reasonably well for us.

We haven't done a lot of support with it, but support have been able to create github issues on our repo (after a bit of confusion about which repo to create issues in) and it looks like support can use the full URL to a github issue as a reference in zendesk (there isn't a nice integ

[2018-11-09 13:48] SimonHolness commented on #35
We're certainly not against dogfooding (drinking our own champagne?) and some tools (Prompt, Compare) get lots of use up here, but with the schema-change related tooling we're often not great exemplars. Our schema(s) are really quite stable. Although we use EF, it tends to be a hand-rolled database-first approach and we don't use migrations. Not that we're averse to them for some reason, just beca

[2018-11-09 14:17] ChrisHurley commented on #23
(Slack, Discord etc. are interesting examples there - although it's a web app, and the majority of the functionality is available without installing anything, there's value in having a local Electron version too to integrate better with the OS)

[2018-11-09 15:01] tugberkugurlu commented on #69
I have tried this several times but I find this very lacking to express the thoughts and collaborate on these. Lucidchart seems to tick all the collabration boxes for us, for example. We looked whether Visio was on OneDrive but it doesn't seem to be there and Lucidchart seemed to be the closest to having Visio on OneDrive :)

[2018-11-09 15:58] MichelleTaylorRG commented on #23
We have a _lot_ of WinForms stuff and have no interest in messing around with it. We're much keener to properly retire CEF (and salt the earth behind it), but even that is pretty low down the priority chart - essentially we're not very interested in anything that means we have to rewrite the UI of a minnow from scratch because most minnows don't see much work done on them and so we won't see much

[2018-11-09 16:15] TheEadie commented on #35
This is the process SCA follows so it would seem to be a good fit if we were looking to trial using it internally. I can understand it might not be the highest priority now but it would be good to get feedback on the product.

[2018-11-09 16:37] fredjeronimo commented on #69
I'm happy to trial out any for our work in Prompt (happy to discuss with other teams -- perhaps a joint test session might be worthwhile to conduct?). My only true request is that we package a Confluence plugin with whatever choice we pick in the end. Like Gliffy, it seems both draw.io ([here](https://marketplace.atlassian.com/apps/1210933/draw-io-diagrams-for-confluence?hosting=cloud&tab=overview

[2018-11-09 17:10] fredjeronimo commented on #72
Oh... this is an interesting topic. On Prompt we settled with Jira as it gave an easy entry point to both technical and non-technical users and also because it integrates well with other systems (e.g. Zendesk and Raygun for our support and crash tickets).

**Personal opinion only** - The Prompt team is well aware of my feelings towards Jira, which I believe is _one of the worst project management

[2018-11-12 10:30] fffej commented on #35
Since it sounds like SCA could be a good fit for CORE, I'm going to create a PR for this (#51).

I think the _push_ for this needs to come from the versioning teams to demonstrate why this is a good fit for our internal systems.

[2018-11-12 11:30] Michael-Upton commented on #72
We don't use any task tracking tools other than a physical whiteboard. We experimented with using Jira's project management features, and although I with my evil project manager hat on quite liked them, the rest  of the team found them too heavyweight.

We *do* use Jira for issue tracking, because we've found it the best way to have a unified view of issues across the multiple projects we're respo

[2018-11-12 12:24] fffej opened #74 "Debugging Tools"
I'd like to propose adding [RevDebug ](https://revdebug.com/) to the tech radar in Explore.

We already use it for the Oracle Tools and have a good relationship with the team building RevDebug.

[2018-11-13 08:49] garethbragg commented on #72
From the comments so far, I think the _current state_ is:

_Adopt_: Trello
_Adopt_: Jira
_Adopt_: GitHub Issues
_Adopt_: Physical whiteboards

We could even identify _who_ has currently adopted each option, if we felt so inclined.

I don't think this is _great_, but I do think it's where we are. Some thoughts:

* Should we record this on the current Tech-Radar and move on? _If_ this is a problem,

[2018-11-13 10:54] #18 closed

[2018-11-13 10:58] #23 closed

[2018-11-13 15:30] fffej commented on #72
Thanks for the summary @garethbragg .

Let's use this iteration of the radar to summarize the status-quo and we'll work out whether moving towards a single default option is something we want to do (exactly your first option).

[2018-11-13 16:03] musmuris commented on #35
This comes round ever so often. We have looked into the previous systems - SQL source control & ReadyRoll - but each time the people looking at it concluded it wouldn't buy us anything.

Very happy to talk again and look at what the current products does, but we should look into why we haven't taken it in the past and if there are changes that could be made that make it compelling for us - as ther

[2018-11-13 16:06] way0utwest commented on #35
I'll leave one last comment here. This isn't just about you (any team, any developer). This is about making Redgate better. Don't look at the rate of schema change, but rather at the process for doing these changes.

If developers don't find value in this, then we should have the db devops and sca teams, and certainly UX, sitting with them as they make an attempt and discover why they find problem

[2018-11-13 16:53] #26 closed

[2018-11-14 14:29] fffej commented on #16
Let's pick this up again and find out what we've reached agreement on 😄

This list of things doesn't seem controversial from what I've read ⬆️ there?

Adopt:
* React
* Honeycomb Web Tool Kit
* SignalR
* Webpack
* Babel
* Enzyme

Endure:
* KnockoutJS

Retire:
* jQuery

[2018-11-14 15:45] #69 closed

[2018-11-14 16:03] allymparker commented on #16
As dumb as it sounds, (and if it goes into the tech radar I don't know)  but it'd be nice to define some commonly used utility libs too eg lodash vs underscore, moment, numeral etc too.  Thoughts?

[2018-11-15 08:42] fffej commented on #16
@allymparker Could you create a separate issue for JS utility libs? This issue feels too broad to make much progress with at the mo'.

[2018-11-15 08:47] allymparker opened #90 "JS Utility libraries"
I'm trying to avoid this becoming a copy paste of packages.json,  but I feel like there are some common choices we need to make around JS utility libs that would make life easier moving from team to team.  Thoughts?

Adopt:
- lodash (enumerable functions)
- moment (Date formatting)
- numeral (number formatting)
- highcharts (charting library)

Endure
- underscore (enumerable functions)

[2018-11-15 08:49] allymparker commented on #16
@ffej Can we add Redux to Adopt too (with the caveat only if needed?)

[2018-11-15 08:49] allymparker commented on #16
Oh and SASS for styling

[2018-11-15 09:00] fffej commented on #16
Adopt:
* React
* Honeycomb Web Tool Kit
* SignalR
* Webpack
* Babel
* Enzyme
* Redux (caveat if needed)

Endure:
* KnockoutJS

Retire:
* jQuery

Anyone disagree with this lot? 👍 if you agree (if I see a handful I'll create a PR). 👎 and some follow-up comments if something's missing.

We'll try and unpack the rest of this issue as separate issues to help close this one out.

[2018-11-15 10:04] deneboulton commented on #90
`moment` is the obvious lib of choice for dates, however I would like to make you aware of [day.js](https://github.com/iamkun/dayjs) - recently replaced a usage of moment for this where we are formatting dates.

[2018-11-16 13:47] fffej commented on #16
I created a PR and asked @allymparker and @deneboulton to review as they've contributed the most to this thread.

If everyone's happy I think the next step is to merge (which will resolve this comment) and break out any further issues into new issues.

[2018-11-16 13:52] #16 closed

[2018-11-16 14:04] allymparker commented on #90
Interesting.  What's the benefit of using day vs moment?

[2018-11-16 15:02] #35 closed

[2018-11-16 15:32] fffej commented on #38
Anyone fancy bringing this to a head with a PR? 🙏

[2018-11-16 15:36] nyctef commented on #22
Possible addition: Explore net471 ([since it supports .NET Standard 2.0 much better than net461 does](https://info.red-gate.com/eng/development-guides/net-standard))

Currently being used by Figleaf (and possibly other products as well)

[2018-11-18 13:35] fffej opened #92 "Dependency Management Tools"
We struggle with keeping libraries up to date.

We currently have a home-brew system to keep things up to date (Build Bot fires PRs for some of our internal packages), but it's home brew and not perfect.

https://dependabot.com/ looks like an interesting solution, and supports more stuff than just NuGet. It generates PRs covering details of the changes and gives any details of security fixes (see

[2018-11-19 08:32] smobs opened #94 "Tech radar doesn't display in browsers other than Chrome"
https://radar.thoughtworks.com/?sheetId=https%3A%2F%2Fgithub.com%2Fred-gate%2FTech-Radar%2Fblob%2Fmaster%2Fradar.csv
 |
 |
v
![image](https://user-images.githubusercontent.com/3480534/48694759-2b311b00-ebd5-11e8-9f42-dbb9b1269107.png)

Following the [FAQ](https://www.thoughtworks.com/radar/how-to-byor), I couldn't see any problems, other eyes might be sharper than mine

[2018-11-19 08:38] tugberkugurlu commented on #94
Maybe related to this CORS error?

![image](https://user-images.githubusercontent.com/328122/48695116-2caf1300-ebd6-11e8-9600-21c5ef5ebced.png)

I believe you need to use the resource from raw.githubusercontent.com, e.g. https://radar.thoughtworks.com/?sheetId=https%3A%2F%2Fraw.githubusercontent.com%2Fred-gate%2FTech-Radar%2Fmaster%2Fradar.csv

[2018-11-19 09:01] garethbragg commented on #94
@tugberkugurlu is right - the radar needs the raw csv to read/render.

[2018-11-19 09:14] smobs commented on #94
Tugberk's link doesn't render for me either

[2018-11-19 09:17] tugberkugurlu commented on #94
Seems to be working for me. it takes a while to load though if the resource is uncached and you have a slow conn.

![image](https://user-images.githubusercontent.com/328122/48697145-c7f6b700-ebdb-11e8-853f-d984d3e1aac8.png)

[2018-11-19 09:53] garethbragg commented on #94
Just checked it in Firefox, and Toby's right - the techradar doesn't render there :( Any ideas, @fffej?

[2018-11-19 09:58] adrianbanks commented on #94
[Possibly the cause?](https://github.com/thoughtworks/build-your-own-radar/issues/66#issuecomment-428174519)

[2018-11-19 10:23] deneboulton commented on #90
For us it pretty much came down to the size of the lib since ours is a hosted app - and one where that content is not gzipped [ATM].

[2018-11-19 10:51] tugberkugurlu commented on #94
seems like that's it:

![image](https://user-images.githubusercontent.com/328122/48702551-1c546380-ebe9-11e8-9da0-1f835943769a.png)

[2018-11-19 11:14] #38 closed

[2018-11-19 12:40] garethbragg commented on #90
Would it be fair to put `day.js` in _Explore_, based on what CoreDev are doing?

[2018-11-19 12:41] garethbragg commented on #72
I'll PR this.

[2018-11-19 13:01] ChrisHurley commented on #90
We use `underscore` (preferring ES6, but some things are missing) but I have no problem with `lodash`.

Otherwise, our non-view-related libraries are:
- [js-cookie](https://github.com/js-cookie/js-cookie)
- [whatwg-fetch](https://github.com/github/fetch)

[2018-11-19 13:06] deneboulton commented on #90
We currently use [Axios](https://github.com/axios/axios) due to having to support IE 9/10 up to about 6 months ago; now we no longer have to support those browser versions I believe we could happy use `whatwg-fetch` and `js-cookie`.

[2018-11-19 13:37] #72 closed

[2018-11-19 13:37] fffej commented on #94
I'm going to close this issue because it's not something we can resolve (unless anyone wants to make a PR downstream!).

[2018-11-19 13:37] #94 closed

[2018-11-20 08:10] #22 closed

[2018-11-20 08:37] garethbragg commented on #36
So what's our proposal to update the radar with?

From what I can tell, without _really_ following the conversation:

* _Retire_ Dot Net Zip
* _Endure_ 7Zip
* _Adopt_ ZipArchive

[2018-11-23 12:07] Greg-Smulko opened #99 "GUI tests framework for Win apps"
It seems we use multiple different frameworks for GUI tests:
- SCA uses [Windows Application Driver](https://github.com/Microsoft/WinAppDriver)
- SoC uses Ranorex
- The Toolbelt Team uses Coded UI

[2018-11-23 14:25] juliahayward opened #100 "Retrospectives"
As we have standups on our Adopt list, we really should add Retros as well...

[2018-11-23 14:28] juliahayward opened #101 "Call out C# 7 explicitly"
Should we be explicitly adopting C# 7 as standard across the organisation, in parallel with keeping projects up to date on framework versions?

[2018-11-23 14:29] juliahayward opened #102 "[Techniques] Dogfooding"
Do we or Core do any? We really should.

[2018-11-23 14:38] garethbragg commented on #99
Ranorex was in _Retire_ on a prior tech radar (and was mostly retired).  It certainly shouldn't be adopted any wider.

My gut says it should be in _Retire_ now, too.

[2018-11-23 14:39] garethbragg commented on #102
This came up a little in the discussion around #35.

[2018-11-23 14:44] nyctef commented on #99
IIRC the Compare GUI tests are built with `UIAutomation`/`System.Windows.Automation` which is one of the underlying frameworks that Ranorex/Coded UI abstracts away. It's the proper accessibility framework for WPF so it works quite well assuming you're writing a WPF application :)

[2018-11-23 14:53] nyctef opened #104 "[Techniques] Spikes, spike&stabilize, feature flags"
Just creating one issue for these for now since they're all kind of interrelated:

- **Technical spikes**: timeboxed prototype/proof-of-concept for some feature or technical implementation detail. Usually done with minimal quality (since they're never intended to be real code), implemented on a branch and then thrown away
- **Feature flags/toggles**: some way to prevent code in `master` from affec

[2018-11-23 15:19] mark-raymond opened #106 "[Techniques] Isolated installer tests"
In SQL Clone, on every build, in a vagrant VM, we:

- Install the previous release
- Install the agent for the previous release
- Upgrade install to the current build
- Check the agent is automatically updated

This is something we have found valuable, and we haven't found it to be an excessive maintenance burden. I think isolated installer tests are a useful component of having confidence that a

[2018-11-23 15:44] fffej opened #107 "[Tools] Swagger"
We use Swagger to document some of our web APIs.

I believe it should be in Adopt.

[2018-11-23 15:46] Greg-Smulko opened #108 "[Techniques] "Stop the line" when a build is red"
How about agreeing that a red build is the team's top-priority, no exceptions?

It may mean investing some time upfront to fixing flaky tests.
On the other hand, it allows spotting regressions quickly (as we did recently with a newly introduced flaky test, which occurred to be a race condition in a production code).

A bit of background: https://kanbanize.com/blog/stop-the-line/

[2018-11-23 15:46] fffej opened #109 "[Techniques] Check in R# Settings"
Some teams have a checked in version of the R# settings for code inspections. This means everyone is consistent and (hopefully!) ends some of the debates that waste time.

My feeling is this should be in Adopt.

At the risk of starting a 🔥 war - do you think it's worth getting a common set of R# guidelines for Product Division?

[2018-11-23 15:51] fffej opened #110 "[Techniques] Unit Tests / Test-Driven Development"
I think we'd all unanimously agree (🤞) that unit tests are a good thing, so I'd like to suggest they should be in Adopt.

Where does TDD fit in? Are any teams in a position to experiment with doing that for a significant period of time and reporting on how it goes?

[2018-11-23 15:55] angellaa commented on #109
I agree this should be Adopt.

We should have a setting file ready to use when you start a new project from scratch. Then each team can make a few changes if considered appropriate for their code base.

In the Versioning teams, we spent a significant effort to create this shared settings file and then apply everything with a single click on all our code bases over Christmas last year. It really he

[2018-11-23 15:55] fffej commented on #100
No disagreements here - could you make a PR and I'll merge it @juliahayward ?

[2018-11-23 15:55] garethbragg commented on #109
Checked in R# settings gets a big 👍 from me.

Avoiding the 🔥 section for now :)

[2018-11-23 15:57] Greg-Smulko opened #111 "[Tools] R# dictionary/spellchecker + American spelling"
See https://www.jetbrains.com/help/resharper/Spell_Checking.html for more info.

We use it in versioning with our team-shared dictionary, see https://github.com/red-gate/readyroll/blob/4c046692ace2ecd0b3da8513451cf38f19b932e8/SqlChangeAutomation.sln.DotSettings#L374

It allows to spot spelling mistakes earlier, which results in overall better quality of the code.

Maybe it should be a separate iss

[2018-11-23 15:58] Greg-Smulko opened #112 "[Techniques] Concierge customers"
Try to find concierge customers for new features to shorten the feedback loop.

[2018-11-23 16:01] Greg-Smulko opened #113 "[Techniques] Dedicated tech-debt time"
Experiment with different techniques of paying the technical debt.

For instance
- the Kaizen Rota in SQL Monitor teams: "1 person per team, every week".

[2018-11-23 16:03] angellaa opened #114 "[Techniques] - Tests Refactoring"
Writing tests is important but not enough. Tests should also be easy to understand and maintain.

Test code needs to be treated as production code and for that reason test refactoring is an important technique to adopt.

I think this should be in ADOPT.

I noticed we don't have an entry for just "Refactoring" so maybe we can add that separately or merge the two together?

[2018-11-23 16:09] garethbragg commented on #112
I think there's something interesting about techniques for delivering software, which may relate to this?

* Do we encourage frequent update & slow-moving release channels?
* Do we encourage private builds?
* Do we encourage beta/EAP programmes?
* Is there something about "major" releases that relates to this?

[2018-11-23 16:11] garethbragg commented on #114
Considering much of my time on SoC was spent doing this, I strongly agree 😃

[2018-11-23 17:57] nyctef commented on #100
+1 for adding retros, seems sensible

We might want to write something about the kinds of retrospectives we do:
* For a while on the masketeers team we experimented with using a private slack channel as a kind of suggestions box for retro topics (and then scheduling time as needed to deal with them). We found this didn't work too well for us, though - actually having an hour or two every couple of

[2018-11-23 18:00] nyctef commented on #109
+1 for "automate your style guide as much as possible"

Personally I don't think a division-wide style guide is worth it - the cost of getting everyone to agree is too high, and the main benefit (minimizing switching costs between codebases) is kind of moot if you can get a tool to handle all your style differences anyway :)

[2018-11-23 18:03] nyctef commented on #111
http://honeycomb.red-gate.com/writing-guide/applications (as well as previous RG style guides) has this:

which in the past I've taken to mean that we write code in BrE. I don't have any particular attachment to that, though - I'd totally be up for switching to AmE everywhere just to simplify things :)

[2018-11-23 18:09] nyctef opened #116 "[Tools] Opinionated code formatters"
Related to https://github.com/red-gate/Tech-Radar/issues/109

On Figleaf, we use [prettier](https://github.com/prettier/prettier), along with vscode's prettier extension and `"editor.formatOnSave": true` to solve almost all of our code style problems for the frontend (we use tslint to solve the rest :)

The difference between prettier and most code formatters is that prettier discards (almost) all

[2018-11-23 18:21] nyctef opened #117 "[Techniques] master is always releasable"
This is based on #108 ("Stop the line when a build is red")

Saying that master is always releasable imposes an additional constraint: when master is green, master can be released to users. This requires a high degree of confidence in automated tests (high coverage of code/behaviours and likely some [installer tests](https://github.com/red-gate/Tech-Radar/issues/106)) and in the quality of the pro

[2018-11-23 18:33] nyctef opened #118 "[Techniques] #nobugs"
Disclaimer: this is just something I heard about at Prognet :)

Basically this means:
- turning "discovering a bug" into a [stop-the-line](https://github.com/red-gate/Tech-Radar/issues/108) event
- not keeping any kind of bug backlog

[2018-11-23 18:34] fffej commented on #118
@joselima will probably be able to help with this one?

[2018-11-23 18:54] nyctef commented on #110
Just "TDD" by itself seems pretty broad - might be useful to break it up into more specific techniques that we can tackle separately?

eg here's a random list:

- test-first: discipline to always write a failing test before getting into coding the solution
- always make sure a you see a test go red (and for the right reason): I've been bitten by this one more often that I'll admit >.>
- [discovery

[2018-11-23 18:56] nyctef commented on #101
👍 I think we generally want to use the latest version of C# possible at all times (afaik usually the only blocker is getting the build agents set up with new VS/MSBuild versions)

[2018-11-25 19:13] angellaa commented on #110
I agree to have unit testing in the ADOPT.

I don't think getting more specific on the TDD approach help for the radar. When you do TDD you can use either the classic approach or the London style TDD or any other inn the same application so I am ok to keep TDD as a broad concept.

I would be happy to experiment using TDD in my team if there is enough interest from my peers.

[2018-11-26 08:44] garethbragg commented on #116
I hadn't heard of prettier before. Sounds interesting.

Sounds like you're exploring it at the moment?

[2018-11-26 08:45] garethbragg commented on #118
I've been an advocate of a zero bug policy for a while, and would be keen to see team/s actively explore using it.

[2018-11-26 08:47] garethbragg commented on #117
Strongly supportive of this.

I've been trying to understand for a long while how far Redgate is from the reality of "master is always releasable".

(Release testing should definitely be in retire, if anyone still does it. We're better than that.)

[2018-11-26 09:43] fffej commented on #113
See [preview](https://radar.thoughtworks.com/?sheetId=https%3A%2F%2Fraw.githubusercontent.com%2Fred-gate%2FTech-Radar%2F6234c95c2c8ba1452dd8f66c87fbe0da99c637a0%2Fradar.csv)

[2018-11-26 09:44] nyctef commented on #110
I guess the question for me is what exactly it means to be "using TDD." I use a lot of the techniques from that list a lot of the time, but I don't know if I should claim I'm already doing TDD, because I'm not particularly consistent or disciplined about it.

[2018-11-26 09:45] fffej commented on #113
Great spot - it's good to capture things that we're already doing. I created a #119 and I've asked someone from the Monitor teams to review.

[2018-11-26 09:47] adrianbanks commented on #116
We also use prettier in HammerHeads for our Javascript.

[2018-11-26 09:47] fffej commented on #101
I agree - I think the difficulty comes when [C# 8](https://blogs.msdn.microsoft.com/dotnet/2018/11/12/building-c-8-0/) comes out and we have to migrate to .NET Core 3.

[2018-11-26 09:52] allymparker commented on #113
That's not what just what we're trying to achieve in the Monitor teams with the Kaizen rota - it's more about working on the continuous improvement that allows us to work towards our technical vision.

For instance, as well as "paying technical debt" in the form of removing legacy tech, we've been working on getting better long range error detection with Raygun, Improving our dashboards so we can

[2018-11-26 09:53] nyctef commented on #116
We've been using it for about a year and haven't hit any issues as far as I know, so it could potentially go in Adopt

[2018-11-26 09:54] juliahayward commented on #100
Toolbelt do both lean-coffees and structured ones (spotify healthcheck, sailboats, etc) to inject a bit of variety - too much of either sort seems to become stale after a while. I don't think we should prefer either.

[2018-11-26 10:36] nyctef commented on #117
there's probably some kind of maturity model here:

1. master is never releasable. We don't trust the product to not be broken at any given time, so we do a comprehensive release test of the whole product each time we release. We release once a year or so.
2. master is sometimes releasable. We'll do a significant bit of work, and then go through a period of stabilization and bugfixes after which w

[2018-11-26 10:42] mark-raymond commented on #106
On the subject of autofac - we have a unit test that everything registered in the autofac containers can be created.

[2018-11-26 10:57] PeterGerrard opened #122 "[Tools] IRedgateSerializable"
This is part of our legacy tooling, as such we should add it to Retire

[2018-11-26 10:58] PeterGerrard opened #123 "[Language] Java"
We should add Java as a language we use (with emphasis on latest versions), as we use it for SCA plugins into TeamCity, Bamboo and Jenkins

[2018-11-26 10:59] fffej commented on #100
Resolved by #121

[2018-11-26 11:00] #100 closed

[2018-11-26 11:01] PeterGerrard opened #124 "[Language] PowerShell"
We use PowerShell extensively for scripting so we should mark it as adopt. We also use it as the basis of SQL Change Automation's automated components and some of its plugins.

We might want to consider which versions of PowerShell to support/recommend:

I would suggest:
PowerShell 3 Endure
PowerShell 5/6 Adopt

[2018-11-26 11:01] ChrisHurley opened #125 "[Technologies?] Redgate Installer"
I'd propose that we put Redgate Installer in Adopt (versus any other installer).

[2018-11-26 11:05] ChrisHurley opened #126 "[Techniques] Scrum? Kanban?"
Do we want to be opinionated about how teams plan their work? We use a more Kanban-esque process without explicit sprints, but other teams work differently.

(The answer to this might well be no, but it feels like it's an important part of Techniques)

[2018-11-26 11:07] ChrisHurley opened #128 "[Tools] Build system"
I'd propose that we record that we Adopt TeamCity. We've evaluated Azure DevOps (aka VSTS) previously but haven't pursued it.

[2018-11-26 11:10] ChrisHurley opened #129 "[Techniques] Automated UI testing"
Can we define what good looks like in this area? This might be rather too broad for the tech radar, but if we could come up with anything that we is desirable or undesirable around automated UI testing it feels that we'd have clearer direction about where we want to invest.

[2018-11-26 11:12] ChrisHurley commented on #118
I wouldn't say we're quite as far as a full implementation of #nobugs but I do generally agree with the principle, and on our team we try to address most issues we discover as we find them rather than having a large bug backlog.

[2018-11-26 11:21] ChrisHurley commented on #108
I agree that it's top priority to fix it... I think what's interesting is whether we meant that stop the line = someone should look at fixing it immediately, or stop the line = everyone stops all work on other branches too? I'm not sure if the latter is necessarily required.

[2018-11-26 11:54] fffej commented on #113
@allymparker Could you reword the PR accordingly? (or just nuke it and create another).

[2018-11-26 12:34] ChrisHurley commented on #126
That's what I was leaning towards, putting both on Adopt - but would be interested if there were any other opinions.

[2018-11-26 12:46] fffej commented on #122
Should we?

`IRedgateSerializable` is yucky (it's a home brew framework for serialization) but removing it from existing products has significant cost. We'd have to make sure we can read in all old versions of whatever is serialized, perform upgrade logic and replace with something better. It's unclear to me whether that's worth the benefit of the cost.

I'd vote Endure for this one.

[2018-11-26 12:54] fffej commented on #116
👍 from me for Adopt: Prettier. @adrianbanks or @nyctef - fancy creating a PR?

[2018-11-26 12:58] PeterGerrard commented on #122
I was tossing up on this between Endure and Retire. Was as much wanting to hear other people's thoughts

[2018-11-26 13:04] nyctef commented on #123
Seems sensible to me - probably as Endure since we only use Java when we have to?

[2018-11-26 13:05] fffej commented on #111
👍 to this from me. Consistency is more important than spelling colour right 😄

[2018-11-26 13:18] #101 closed

[2018-11-26 13:34] joselima commented on #118
Assuming you mean a zero-bug policy, whilst I have no first hand experience on implementing it, I have had quite a few conversations this year on this topic. More specifically with Prompt, and I know it's something we are keen to experiment with, so like @garethbragg said I'd also be keen to see teams trying it out and writing about their experiences.

Here are some of the articles I've read in th

[2018-11-26 13:35] garethbragg commented on #118
I've some experience working with a ZBP, and would be happy to support people in trying it out.

[2018-11-26 14:17] garethbragg commented on #122
Is this true of all the `RedGate.Legacy.*` packages?

[2018-11-26 14:21] garethbragg commented on #102
For context,  Ithink the current state is:

* We don't (actively) dogfood anything
* We generally agree we should
* "Versioning Teams to investigate this by looking at how CORE manage databases."

I don't know if any other tools are used internally.

[2018-11-26 14:21] nyctef commented on #124
Related: #33

I take it SCA requires Powershell 3 or higher? Is the same true for Clone's cmdlets as well?

[2018-11-26 14:22] nyctef commented on #33
We're currently looking into building some masking cmdlets for Figleaf, so we can probably spend some time figuring out what Powershell Core is as well

[2018-11-26 14:30] PeterGerrard commented on #124
SCA is definitely 3 or higher (which has caused some issues) I assume Clone is the same

[2018-11-26 15:05] ChrisLambrou commented on #33
I've been having a bit of a play with it. It's a lot like working with .NET Standard. Main differences are:

- There's a different [shell executable you have to install](https://github.com/PowerShell/PowerShell#get-powershell) and use, `pwsh.exe`.
- If you stick to standard cmdlets, you'll be fine.
- If you use anything that's Windows-specific, you're likely to hit a couple of issues:
  - Things l

[2018-11-26 15:09] ChrisLambrou commented on #33
I'm not sure how well binary PowerShell modules are supported under PowerShell Core. They were always a bit of a second-class citizen in PowerShell. We'd probably have to look into converting https://github.com/red-gate/RedGate.PowerShell to target .NET Standard.

[2018-11-26 15:13] nyctef commented on #33
Ah yes, I should have said we were building a binary module. (and we are also inheriting from `RedGate.Powershell` since I've just been copying what our other products do)

[2018-11-26 16:21] sandrastaples commented on #126
The Dev leads have an outstanding action to look at what we want to put on the radar around agile "stuff" and there's a meeting with Jeff planned. I guess the ultimate question is what level would be useful without it being too constraining or confusing? Is it really useful to have loads of different options in adopt, it won't necessarily help you choose which one to apply.

[2018-11-27 09:15] fffej commented on #108
I don't think this is controversial? If the build is red, then someone on the team is fixing it and nothing else will touch the master branch until it's green again.

@Greg-Smulko Could you create a PR for this?

[2018-11-27 09:18] fffej commented on #118
I think all we need here is a team committed to exploring it for long enough to reach a position (sounds like both @garethbragg and @joselima would be keen to support).

@red-gate/producttechleads Anyone wanting to volunteer?

[2018-11-27 09:37] nyctef commented on #108
I'm not sure if it's strictly necessary for us for a red build to block the whole team, but that does appear to be how "stop the line" is described in the article, so I wouldn't want to say we were adopting it unless we were properly stopping the line.

I suspect there's a complacency that creeps in when you allow the burden of fixing the build be placed on one person and allow the rest of the tea

[2018-11-27 09:47] smobs commented on #117
I see "master as always releasable" as an ethos a team will adopt and then constantly strive to make true.
We should act like master is always releasable at any time, and when we discover that it isn't/wasn't releasable, reflect on why and add the appropriate checks for next time.

[2018-11-27 09:49] smobs commented on #116
I would consider including "Hand formatted TS/JS" in endure/retire.

[2018-11-27 10:02] nyctef commented on #126
Personally what I'd find useful (or at least really interesting) is a discussion of scrum/kanban/etc and why you might pick one or the other for a particular team, or why you might switch a team from one to the other and what effects you'd expect that to have. That kind of thing might be more suited to some blog posts than the tech radar, though

[2018-11-27 11:43] tugberkugurlu commented on #104
We have been using them for a while as well and my personal view on that is that it works really well and also support short-lived PRs and master being always releasable. @red-gate/spiders any specific views on this?

[2018-11-27 11:48] ChrisLambrou commented on #104
Agreed. It's great for keeping feature requests small, getting code into master even before it's ready to expose to customers, and avoiding horrible merge conflicts across long-lived feature branches. At the time when The Spiders were considering adopting them, I did a bit of research across a bunch of teams to work out how they're being used. I could dig out the results, which was really just a d

[2018-11-27 12:00] #106 closed

[2018-11-27 12:02] tugberkugurlu commented on #104
We also have a mechanism which integrated feature flags into ASP.NET Core. It takes advantage of ASP.NET MVC Core's action location, [config ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1) and [options ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.1) mechanisms to hook this into the system in a ty

[2018-11-27 12:18] fffej commented on #125
Sounds good @ChrisHurley - PR?

[2018-11-27 12:40] ChrisHurley commented on #107
A subtle nuance here - there's the [OpenAPI](https://swagger.io/docs/specification/about/) specification (backed by Swagger) and there's  OpenAPI/Swagger generation libraries like [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle). Are we referring to both?

(Also worth noting that if you really want your generated documentation to be useful you need to be using the correct attributes a

[2018-11-27 12:41] ChrisHurley commented on #118
I feel like we're not too far off this - it might be interesting to see what more we'd have to do to be following it officially?

[2018-11-27 13:12] mark-raymond commented on #124
SQL Clone's cmdlets installer says it requires PowerShell 3+.

[2018-11-27 14:41] ChrisHurley commented on #125
Opened PR #132.

[2018-11-27 16:50] #125 closed

[2018-11-27 17:01] fffej commented on #128
I don't suppose you could open a PR for this @ChrisHurley - can't quite believe we've missed that!

[2018-11-27 17:42] ChrisHurley commented on #128
Created #133.

[2018-11-28 09:09] nyctef commented on #116
👍 I agree we should retire hand-formatting code where possible - do we have anyone doing this? Does this need to be on the radar, or is "adopt formatters" enough?

[2018-11-28 09:16] #116 closed

[2018-11-28 09:17] #128 closed

[2018-11-28 09:22] fffej commented on #109
@angellaa Fancy creating a PR for this? I agree that it should be per project rather than for the organization.

[2018-11-28 09:39] PeterGerrard commented on #122
Seems fair, I'll add a PR

[2018-11-28 10:45] fffej commented on #124
I think we're close to agreement here.

@PeterGerrard could you create a PR and we'll see if we get agreement on it? 😄

[2018-11-28 10:56] ChrisHurley commented on #124
Just to check here, we're saying that any new suites of PowerShell cmdlets we build for customer consumption should require PowerShell 5/6 (shouldn't start something new based on something in Endure)?

[2018-11-28 10:59] mark-raymond commented on #124
So, there's two separate things going on here:

(1) What PowerShell version the cmdlets we ship require
(2) What PowerShell version PowerShell we write requires

It's fine for (2) to be as high as we like, really. I think most of the discussion here has been about (1), although it wasn't all clear. I think the answer for (1) is along the lines of "as low as doesn't cause us problems" - although I

[2018-11-28 12:33] #122 closed

[2018-11-28 15:32] fffej commented on #124
I guess for now "as low as doesn't cause us problems" is the lowest version we can currently ship (just like we do for web browsers).

[2018-11-28 15:50] dnlegge opened #136 "[Tool] Our Own Tools"
We should be Adopting our own tools

"Eat your own dogfood"

[2018-11-28 15:52] dnlegge opened #137 "[Technique] XP"
Adopt XP - E[X]treme [P]rogramming

We use Pairing and even some TDD, but there's other elements too

[2018-11-28 15:55] dnlegge opened #138 "[Tool] Adopt Tech Radar"
Adopt a Tech Radar (this) to tie into a Tech Strategy

[2018-11-28 15:56] dnlegge opened #139 "[Tool] Adopt Impact Mapping"
Add Impact Mapping to Adopt

Tie actions to actors and Strategic Goals

Ally Parker ran a Open Space session on this

Oracle Team-to-be

[2018-11-28 15:59] dnlegge opened #140 "[Technique] Adopt Single Click Deploy/Release"
Add Single Click Deploy/Release to Adopt

Automate the build pipeline and release process to the point where it takes a single click to release software having taken the decision to do so.

[2018-11-29 08:57] fffej commented on #107
Good point, let's say we adopt the Open API spec and our default tool of choice is <whichever one we use>?

[2018-11-29 09:04] fffej commented on #137
I think this one is a bit broad. We adopt some of the practices, but by no means all (never seen anyone do a CRC card session) nor are we disciplined about writing an acceptance test.

I'm going to close this and suggest we break out any practices that we do into "Adopt" and anything we'd like to have a crack at into "Explore".

[2018-11-29 09:04] #137 closed

[2018-11-29 09:20] fffej commented on #102
I've put dogfooding in "Adopt".

I intend this to mean that when we're looking at a technology and we've got a choice we should prefer our own by default (and the Tech Radar should be the way of indicating deviations from this).

[2018-11-29 09:30] #102 closed

[2018-11-29 09:37] tugberkugurlu commented on #107
FWIW, we currently use [NSwag ](https://github.com/RSuter/NSwag) for reasons described [here](https://github.com/red-gate/SQLEstateManager-vNext/pull/157):

 - It seemed to be maintained more actively than Swashbuckle at the time (still seems to be the case, last commit is from 3 hours ago). Not sure what Swashbuckle's current state is though.
 - They are in process of getting Open API 3.0 support

[2018-11-29 10:32] nyctef commented on #30
This appears to be the powershell + stderr + `rg-buildphy02` problem that's been popping up recently: (eg [\[1\]](https://redgate.slack.com/archives/C099Y4DH9/p1541159614017700) and [\[2\]](https://redgate.slack.com/archives/C099Y4DH9/p1542722472086200)) - it's really annoying but possible to work around so that the build doesn't fail because of random warnings.

Well, it got promoted to Adopt sin

[2018-11-29 11:04] ChrisLambrou commented on #30
If SonarQube requires a special workaround that no other tool seems to require, then maybe we should codify that workaround into a RedGate.Build cmdlet? e.g. invoke SonarQube analysis with `-ErrorAction Continue`, but separately capture any stderr output and subsequently raise an error directly in PowerShell if necessary? Would something like that sole the stability problems, or are they more wide

[2018-11-29 11:07] ChrisLambrou commented on #30
Plus, adding support for SonarQube in RedGate.Build would mean I can get rid of stuff like [this](https://github.com/red-gate/SQLEstateManager-vNext/blob/master/.build/tasks/SonarQube.tasks.ps1) that I just don't want to have to maintain in our project's repo.

[2018-11-29 11:18] nyctef commented on #30
Git actually [has the same problem](https://github.com/red-gate/data-masking/pull/1791#pullrequestreview-171105822) with powershell and stderr as well (although it turns out that git has a workaround built-in through [an environment variable you can set](https://git-scm.com/docs/git#git-codeGITREDIRECTSTDERRcode))

I agree we should probably pull something together in RedGate.Build for running son

[2018-11-29 11:21] ChrisLambrou commented on #30
👍

They haven't diverged "much", which means they might have a little bit. That's grounds enough to pull it into RedGate.Build. I think that's my 10% time job for tomorrow! 😀

[2018-11-29 11:41] PeterGerrard commented on #124
Sounds like we need two items added:

- Language and tools: Adopt PowerShell 5 when writing internal scripts
- Platforms: Adopt PowerShell 3+ when writing cmdlets for external use

[2018-11-29 15:13] #123 closed

[2018-11-29 17:44] ChrisHurley commented on #139
I think we'd have to have it in Explore if a team are going to give it a try.

[2018-11-29 17:56] ChrisHurley commented on #107
NSwag looks pretty good to me, and I wasn't aware of its existence - although I'm interested in where things are with [https://github.com/RSuter/NSwag/issues/1355](API versioning support), since we use that with WebApi now, and their WebApi support is deprecated.

(Maybe we should look into retiring WebApi in favour of ASP.NET Core...)

[2018-11-30 07:56] fffej commented on #117
@nyctef Do you fancy making a PR to add this to adopt? Toby's wording is great - this is what we aspire to adopt. It's OK if teams do release testing, but it should not be done by default and doing it should prompt some soul-searching about why we don't have the confidence.

[2018-11-30 10:11] tugberkugurlu commented on #107
👍 as there will be less and less support for Web API as time progresses.

[2018-11-30 10:11] tugberkugurlu commented on #107
NSwag has docs on official docs section, too: https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-nswag?view=aspnetcore-2.1&tabs=visual-studio%2Cvisual-studio-xml

[2018-11-30 10:16] PeterGerrard commented on #107
For reference Swashbuckle also has these docs:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.1&tabs=visual-studio

[2018-11-30 10:40] fffej opened #144 "Web API vs. ASP.NET Core"
## What change would you like to make to the tech radar?

Based on #107 ASP.NET Core should be in Adopt and Web API should be in retire (albeit a slow burn).

## Why do you believe this is valuable to Redgate?

Web API is going to get less maintenance in the future, ASP.NET Core is where active development is going to happen.

## Where should this be on the tech radar?

Adopt:
* ASP.NET Core

Reti

[2018-11-30 14:15] musmuris commented on #144
👍 from me.  We've started looking at what it would take to move COREDev stuff to this a bit.  No plans to start for real yet, but tinkering.

[2018-11-30 15:15] fffej commented on #144
Fancy getting the first PR in from CORE Dev @musmuris ? Don't think there's going to be any dissent on this and we're eventually going to have to do it regardless (https://github.com/aspnet/Announcements/issues/324). LTS support ends 2021.

[2018-12-03 09:53] ChrisHurley commented on #144
@fffej I think the announcement is saying that the new version of ASP.NET Core will only run on .NET Core, rather than .NET Framework, rather than saying anything about WebApi specifically? But ASP.NET Core on .NET Core is obviously the direction that Microsoft are moving in, yep.

[2018-12-03 11:53] rmc47 commented on #32
If it's not registry, then there's nothing really consistently ubiquitous. Taking a leaf from the Linux world, the `conf.d` pattern of having a directory of included config files that get merged together is quite nice in that it allows you to create independent files with fixed content, rather than having your config management tool understand the configuration format.

For example, it's easy for

[2018-12-03 16:49] sandrastaples commented on #126
The Dev Leads think we ought to have:

- Scrum in Adopt - many teams use sprints, planning sessions and some even have reviews
- Kanban in Explore - there are no teams currently fully implementing Kanban but some are experimenting woth some aspects of it

[2018-12-03 16:52] fffej commented on #126
Do you want to create a PR for this @sandrastaples ?

[2018-12-04 08:53] priyasinha opened #145 "[Techniques] Vertical slicing and shorter feedback loop"
What change would you like to make to the tech radar?
Add 'Vertical slicing and shorter feedback loop'

Why do you believe this is valuable to Redgate?
In order to speed up the feedback loop, we take a large feature and break or slice it into several small pieces. Slicing of any feature can be done either ‘horizontally’ or ‘vertically’. Horizontal slicing uses architectural layer as a primary meth

[2018-12-04 09:21] sandrastaples opened #146 "[Techniques] Iteration Planning"
## What change would you like to make to the tech radar?
add Iteration planning

## Why do you believe this is valuable to Redgate?
Allows teams to align on a short term goal (what are we looking to achieve this sprint)
Allows discussion of a task and ensures there is a common understanding of the scope of it
Provides a forum to highlight dependencies between tasks

## Where should this be on the

[2018-12-04 09:29] sandrastaples opened #147 "[Techniques] MoSCoW Prioritisation"
## What change would you like to make to the tech radar?
add to radar

## Why do you believe this is valuable to Redgate?
MoSCoW stands for Must, Should, Could and Wont
This prioritisation technique requires the majority of features / stories to be identified up front - this does not fit well with our exploratory approach to finding customer needs and drilling in based on our riskiest assumption.

[2018-12-04 09:40] sandrastaples opened #148 "[Techniques] Time based Estimation"
## What change would you like to make to the tech radar?
add to radar

## Why do you believe this is valuable to Redgate?
This can be hours, "man days", elapsed time or any other time based metric (this is not the same as relative estimation)

We're very bad at this, it takes practice to get it right and rigour in recording the estimate and the actuals so you can learn how to be better. Also we ar

[2018-12-04 10:02] sandrastaples commented on #126
#149  raised.

[2018-12-04 10:12] fffej commented on #32
@smobs I've tried to sum up the configuration file format changes in the related PR - could you take a look and see if we can close this one out?

[2018-12-04 10:39] ChrisHurley commented on #61
We're also looking at adopting Karma.

We have some [mocha](https://mochajs.org/) tests using [chai](https://www.chaijs.com/) too (for non-React stuff).

I'm not sure if our timing issues are related to nightwatch itself or just the general vagaries of UI testing.

[2018-12-04 10:46] deneboulton commented on #61
For COREDev I think we would consider `jest` as adopt, we have a non-trivial amount of tests over multiple projects that make use of it.

[2018-12-04 10:48] #32 closed

[2018-12-04 10:57] benmancini opened #152 "[Techniques] Systems Thinking"
## What change would you like to make to the tech radar?

Add to the radar

## Why do you believe this is valuable to Redgate?

Understanding how our systems and processes interact with one another is incredibly important and a key consideration we should be aware of when making any change.

But having a clear view of what our systems and processes look like can sometimes be very hard to access (I

[2018-12-04 10:58] ChrisLambrou commented on #124
Might be worth looking at the PFUR data. The session.started event reports the version of PowerShell that our customers actually have available.

[2018-12-04 11:00] ChrisHurley commented on #152
I would love to see this for the whole database lifecycle using Redgate's tools 👍

[2018-12-04 11:01] #33 closed

[2018-12-04 11:01] #124 closed

[2018-12-04 11:03] sandrastaples opened #153 "[Techniques] Definition of Done"
## What change would you like to make to the tech radar?
add it to the radar

## Why do you believe this is valuable to Redgate?
By agreeing up front what constitutes "done" for a feature / story it can highlight any misunderstandings over what is expected from the story
The definition can also help ensure basic quality and ancillary tasks are completed e.g. documentation is updated. Tested across

[2018-12-04 13:11] chenchen1987 opened #154 "[Framework] Event handling and threading management"
## What change would you like to make to the tech radar?

Add Akka.net

## Why do you believe this is valuable to Redgate?

@red-gate/spiders team is currently exploring options to handle events in a thread safe way. To give a context, Data Catalog needs to be able to maintain an updated schema of users' databases, by scheduled scanning of users' lives databases. The decision was made that, this w

[2018-12-04 14:46] fffej commented on #154
I guess my main worry with Akka.Net is that it's a *big* package that has knock-on implications for any future maintenance.  I'm skeptical whether it is something that can be lean and switched out - it's much more of a framework rather than a swappable library.

I don't know the details of the problem you are trying to solve but you mentioned scheduled scanning? Might be something you could accomp

[2018-12-04 15:55] nyctef opened #155 "[Tools] edge.js"
[edge.js](https://github.com/tjanczuk/edge) is a library which allows .NET code to be run from node and vice-versa. It marshals object references and method calls across the .NET/node boundary.

In Figleaf we're currently exploring using edge.js to marshal API requests from our frontend (written in electron/typescript/react) to our backend (written in C#).

This seems to work pretty well, although

[2018-12-04 16:36] #104 closed

[2018-12-04 16:36] fffej commented on #155
Sounds like this should be added to Explore? Unless the team feel like they want an excuse to Retire it?

I agree with the "bit magic" comments, especially when you see comments from Scott Hanselman like this 😄

[2018-12-04 17:05] nyctef commented on #155
Yep, sounds about right 👍

Oh, should add a couple of gotchas we've learned about so far:
- When you pass an object from .NET to node, what you get is something that looks like a normal JS object but which actually proxies every property access back to the original C# object. This can cause a huge performance problem if you access a lot of properties in a big array of results (which we were doing

[2018-12-04 17:15] idursun commented on #154
I think the Actor Model itself is worth exploring.

Akka.Net is just a mature implementation of the Actor Model in the .Net world. There are less mature alternatives like [proto.actor](http://proto.actor/)

If the problem at hand is scheduling and thread management, then it definitely feels like an overkill and there are libraries out there that do solve these problems elegantly.

Akka is well sui

[2018-12-04 18:30] chenchen1987 commented on #154
Our basic requirements are:
- Needs the system to be highly asynchronous, so far we have decided that Actor Model is the approach to do it.
- Needs to be able to switch to an alternative library/framework if one doesn't particular suit our purposes.
- Preferably it would be relatively easy to learn so it doesn't take too much time, due to our goal having been recently shifted.
At this stage, I bel

[2018-12-04 19:20] chenchen1987 commented on #154
We want to be saving ourselves time by not reinventing the wheel. Implementing it from scratch would mean as well as focusing on business requirements, we'd also need to think about performance, fault tolerance etc.

[2018-12-04 19:31] nyctef commented on #154
What's the thing that you would need to reinvent?

[2018-12-05 09:36] #126 closed

[2018-12-05 09:36] #155 closed

[2018-12-05 09:57] fffej commented on #92
Since we don't use these at the moment, and there doesn't seem to be any immediate appetite to try anything I'm going to close this issue for now rather than let it go stale (new stuff will be out for this problem all the time!).

[2018-12-05 09:57] #92 closed

[2018-12-05 10:08] #147 closed

[2018-12-05 10:08] sandrastaples commented on #147
closed as PR #158 resolved this

[2018-12-05 10:40] chenchen1987 commented on #154
For example, the behaviour of actors and mailboxes. Another thing that needs to be taken into consideration is the scalability of the implementation.
I am far from being an expert to advise you on the exact details, so all my arguments and assumptions are based on blogs, documentations and some very primitive experiments.

[2018-12-05 11:10] nyctef commented on #154
Ah, I see. I guess the main thing to question is whether you need an actor model in the first place. From the (admittedly very little) I've heard about the requirements in this issue, it sounds like significant overkill, but of course you'll be the ultimate judge of what's right for you. I'll be interested to hear how it goes if you do end up exploring actors :)

[2018-12-05 11:22] fffej commented on #118
@ChrisHurley Would you be happy to give it a try at some point over the next six months and commit to exploring it?

[2018-12-05 11:35] ChrisHurley commented on #118
If @garethbragg could give us some guidance on what we'd need to do to be doing it officially, sure!

[2018-12-05 11:59] #117 closed

[2018-12-05 12:02] ChrisLambrou commented on #154
We want to avoid any library, such as akka.net, from bleeding into our codebase. What we actually care about are the following:

1. Being able to easily implement "workers" or "event handlers". Long-running components that are capable of responding to specific types of event that represent meaningful occurrences in our problem domain. Imagine multiple implementations of something like `interface I

[2018-12-05 12:34] fffej commented on #154
Thanks @ChrisLambrou.  I'm at the risk of over-simplifying here, but as @nyctef I have a sense that akka.net sounds like overkill. I'm all for using technology if it helps us go faster, but I also want to make sure I ask the right questions so we don't end up with a technology we don't need.

It sounds like this is a producer/consumer to address point 1? ([TPL looks like it could help here](https:

[2018-12-05 12:36] nyctef commented on #154
IIRC we implemented a similar pattern in CompareUI in [about a hundred lines of code](https://github.com/red-gate/SQLCompareEngine/blob/ab497a818c03c85ec530480b71f3c5d63c4e6461/UI/SharedComparisonUI/Redgate.Compare.CommonUI/Infrastructure/EventAggregation/EventAggregator.cs#L14) (although I think we actually copied it from the Oracle tools at the time). It would need some tweaking to handle Tasks

[2018-12-05 12:38] chrisgeorge0911 commented on #118
The manner in which most of our teams operate now, a zero-bug policy is a very realistic thing to achieve... certainly in favour of this.

[2018-12-05 12:41] ChrisLambrou commented on #154
You're right. We're deliberately not buying in to the full actor model. We've described a set of interfaces that describe our minimal requirements, and we're just looking for help to implement them. If the core of akka.net helps with that, then fine. But we definitely want to avoid a deep dependency on it, or anything else, if we can get away with it.

[2018-12-05 14:40] #118 closed

[2018-12-05 14:58] ChrisHurley commented on #154
Not sure if this is adding much to the discussion, but I can see some value in exploring the area. SQL Clone has long-running processes (using `Task`s and our own handling of them, including e.g. [this](https://github.com/red-gate/SqlClone/blob/fe6af2fcbb9a406fcbc1941800ea7fc7a94f5779/RedGate.SqlClone.Common/TaskFuncExtensions.cs)) and has a couple of different event messaging systems (using Signa

[2018-12-06 10:00] cjheppell commented on #154
I wonder if you might have jumped the gun a bit here. Given that this is a new product we're developing and we're trying to achieve _product-market fit_, I'd urge caution on striving for a "perfect" solution which allows you to build concurrent and fully distributed systems. That seems like a _problem for later_ ™. Right now, you want to demonstrate the solution you build solves the problem you've

[2018-12-06 12:40] fffej commented on #107
To try and get this one closed out here's where I think we are.

Adopt:
* Open API specification - our APIs are built using the Open API specification

Explore
- NSwag - An implementation of the Open API specification currently being explored by the Data Catalog team.
- Swashbuckle - An implementation of the OpenAPI specification currently being explored by the Versioning teams for providing the o

[2018-12-06 13:41] #153 closed

[2018-12-06 14:51] ChrisLambrou commented on #154
Okay, I'm going to close this issue. It's clear that Akka.net doesn't need to go into the tech radar under Explore. I'm not wholly convinced we actually need to use it, and even if we actually do take a dependency on it, it won't be in a way that means we'd be recommending or advocating it's exploration or adoption here. It also wouldn't be an architectural decision for the SQL Data Catalog (i.e.

[2018-12-06 14:51] #154 closed

[2018-12-06 15:03] ChrisLambrou commented on #154
I should perhaps also clarify that our decision to have an event driven approach was not driven by this particular need for scheduling. There's a bigger picture beyond the scope of this particular GitHub issue and the scheduling of work is just something that comes relatively cheaply given an event-based architecture. We were really just contemplating whether or not Akka.net could be useful in the

[2018-12-06 16:11] cjheppell commented on #155
Looks like I'm a little late to the party, but we actually decided to remove `Edge.js` from our projects. More information as to why is available in the Pull Request detailing the removal: https://github.com/red-gate/foundry-labs/pull/749

That change was then superseded by [this one](https://github.com/red-gate/foundry-labs/pull/761), for the reasons detailed in that PR.

[2018-12-07 09:08] #99 closed

[2018-12-07 11:04] priyasinha opened #166 "[Techniques] User Stories"
What change would you like to make to the tech radar?
Add this to Tech Radar

Why do you believe this is valuable to Redgate?
User stories are short, simple descriptions of a feature as described from the perspective of the end users. They typically follow a simple template: As a < type of user >, I want < some goal > so that < some reason >. The advantages of user stories are:
- It brings the tea

[2018-12-07 13:09] chenchen1987 commented on #154
Discussed with Jeff. Actor model will not be appropriate for our purposes, given the stage we are at with the Data Catalog. Therefore Akka.net will not be explored by the Spiders team.

[2018-12-07 13:40] #61 closed

[2018-12-07 16:13] #113 closed

[2018-12-07 18:22] #111 closed

[2018-12-10 15:18] #166 closed

[2018-12-10 15:21] fffej commented on #138
I'm going to close this as too meta (trying to close issues down so we can release v1.0) 😄

[2018-12-10 15:21] #138 closed

[2018-12-10 15:22] fffej commented on #74
I've been unable to find a team to trial `RevDebug` so I'm going to mark this issue as closed and revisit it if any team asks about similar functionality.

[2018-12-10 15:22] #74 closed

[2018-12-10 15:56] fffej commented on #90
This ones been open for a while. @allymparker could you have a go at summarizing and creating a PR?

[2018-12-10 15:57] fffej commented on #65
I'm going to close this for now. I'm not sure whether these tools should be on the radar as they are predominantly used by the designers and they already have a strong community around choosing tools.

[2018-12-10 15:57] #65 closed

[2018-12-11 12:31] fffej opened #172 "Remove F# from Tech Radar"
## What change would you like to make to the tech radar?

Remove F# from Explore because there is no team committed to exploring it.

Our current development language stack is C# / TypeScript / JavaScript. These are languages with a common lineage (e.g. the `{}` family) and transferring skills from one to the other is fairly easy. F# is from a different lineage (The ML Family) and requires a diffe

[2018-12-11 13:46] smobs commented on #172
LGTM
I'd reiterate the focus on consistency, this issue boils down to us not wanting to introduce any new languages in 2019.

[2018-12-11 14:16] krzysztofkroczak commented on #172
...
It's annoying. It's the same .NET platform!
I didn't push people to change Redgate code without giving some learning, which I start doing from June 2018. All new people said that they could follow the prepared katas and understand it (please ask @eFuller96, @Mikeywalsh, @panagis for confirmation if needed). So I don't think that it comes from ML language is a problem at all.
At the same time,

[2018-12-12 07:21] fffej commented on #114
@angellaa Do you want to create a PR for this?

I think all we need to say is that we treat test code just as we would production code (normal guidelines apply).

[2018-12-12 09:14] #148 closed

[2018-12-12 09:37] angellaa commented on #109
Sure, I'll do it

[2018-12-12 09:48] garethbragg commented on #114
Is this more suited to the [CSharpGuidelines](https://github.com/red-gate/CSharpGuidelines) than the Tech radar?

[2018-12-12 10:42] #107 closed

[2018-12-12 10:51] Greg-Smulko commented on #108
Perhaps a middle ground would be to stop everyone's work to acknowledge that the build is broken, discuss it and decide who's fixing it as a top priority. Then the rest of the team can continue their work.

Thoughts?

[2018-12-12 10:55] #152 closed

[2018-12-12 10:57] #172 closed

[2018-12-12 11:00] #109 closed

[2018-12-12 11:03] fffej commented on #114
Good point @garethbragg - let's move this over .

[2018-12-12 11:20] #108 closed

[2018-12-12 11:23] fffej opened #178 "Duplicate Zero Bugs Entry"
## What change would you like to make to the tech radar?

There's a duplicate zero bugs policy entry. We should remove the one that doesn't have the name escaped.

[2018-12-12 11:37] fffej commented on #110
I'm going to close this issue out because our [CSharpCodingGuidelines](https://github.com/red-gate/CSharpGuidelines/) are going to cover this in much more detail.

[2018-12-12 11:37] #110 closed

[2018-12-12 11:42] #145 closed

[2018-12-12 14:35] #112 closed

[2018-12-12 15:31] dnlegge commented on #139
Ok

[2018-12-12 15:35] dnlegge opened #183 "[Technique] Adopt: Adherence to SOLID"
## What change would you like to make to the tech radar?
Formally adopt the components of SOLID

## Why do you believe this is valuable to Redgate?
Good engineering practice

## Where should this be on the tech radar?
Adopt - established, stated elsewhere, but not on this (yet)

### If this should be in the _Explore_ ring, who is committed to exploring it?

[2018-12-12 15:38] dnlegge opened #184 "[Tool] Explore: Chocolatey Windows Package Manager"
## What change would you like to make to the tech radar?
Explore the use of chocolatey windows package manager
https://chocolatey.org/

## Why do you believe this is valuable to Redgate?
Standardise package management and deployment and provisioning

## Where should this be on the tech radar?
Explore,

### If this should be in the _Explore_ ring, who is committed to exploring it?
happy to take thi

[2018-12-12 15:43] dnlegge opened #185 "[Explore] RESTful APIs"
## What change would you like to make to the tech radar?
Use of RESTful APIs as a way to decouple UI and backend

## Why do you believe this is valuable to Redgate?
Good practice, decoupling, powerful technique, cross-platform

## Where should this be on the tech radar?
Whilst established practice in industry, probably explore in red-gate
Don't know which quadrant this belongs in.

### If this sho

[2018-12-12 16:00] onatm commented on #185
I think this should be in Adopt. SQL Clone has a RESTful API for a quite some time. Also, @red-gate/spiders built their RESTful API as well.

[2018-12-12 16:07] PeterGerrard commented on #184
We already use this in our test infrastructure, could well be adopt

[2018-12-12 16:11] nyctef commented on #184
Definitely good to use internally - eg we recommend [using chocolately to get vagrant and virtualbox](https://info.red-gate.com/eng/development-guides/build-release/using-vagrant) when setting up a build environment.

Is this something we should explore for external use as well? (ie wrapping our installers in chocolately packages / distributing our tools some other way?)

[2018-12-12 16:11] onatm commented on #184
I use [scoop](https://github.com/lukesampson/scoop) on my workstation as a package manager. Pretty good for _portable_ apps. If you are not planning to use `chocolatey` to deploy `nupkg` artifacts then I strongly recommend you to try `scoop`.

[2018-12-12 19:17] fffej commented on #183
I'm going to close this out as I believe this is already well-covered by our [CSharpGuidelines](https://github.com/red-gate/CSharpGuidelines)

[2018-12-12 19:17] #183 closed

[2018-12-12 22:26] raganmcgill opened #186 "[Techniques] Continuous Delivery"
## What change would you like to make to the tech radar?
Add it to the radar

## Why do you believe this is valuable to Redgate?
Continuous Delivery aims to automate all the repetitive, error-prone activities that humans do that can lead to inconsistent, unreliable, or unrepeatable processes.  Our test suites needs to cover enough of the codebase; acting as an enabler for automated deployments. Th

[2018-12-12 22:28] raganmcgill opened #187 "[Techniques] Continuous Deployment"
## What change would you like to make to the tech radar?
Add it to the radar

## Why do you believe this is valuable to Redgate?
Continuous deployment goes one step further than continuous delivery. With this practice, every change/commit to master that passes all stages of our production pipeline is released to our users. There's no human intervention, and only a failed test will prevent a new ch

[2018-12-12 22:37] raganmcgill opened #188 "[Techniques] Visual Controls; Team Dashboards and Information Radiators"
## What change would you like to make to the tech radar?
Add it to the radar

## Why do you believe this is valuable to Redgate?
Intensive use of information radiators convey two messages in addition to the information itself:

Our teams have nothing to hide from their visitors (stakeholders, other teams, etc...)
Our teams have nothing to hide from themselves; they acknowledges and confronts probl

[2018-12-12 23:05] nyctef commented on #187
👍 This is a logical next step after https://github.com/red-gate/Tech-Radar/issues/117 ("master is always releasable").

As far as I know the only time we've done this at RG previously is with .NET Demon, which got auto-released to the VS gallery on every successful build. From what I heard it worked pretty well - IIRC one or two bad bugs made it through, but both incidents were fixed within a coup

[2018-12-12 23:08] nyctef commented on #186
👍 Definitely a good idea, but this sounds like it's mostly a combination of #117 ("master is always releasable") and #38 ("one-step release scripts") - not sure if there's something new to add to the radar here?

[2018-12-13 09:31] garethbragg commented on #188
@raganmcgill sounds good to me - happy to create a PR?

[2018-12-13 09:34] garethbragg commented on #139
@dnlegge Are you happy to create a PR to add this?

[2018-12-13 09:36] garethbragg commented on #185
Sounds ready for _Adopt_, which is nice!

Anyone keen to open a PR?

[2018-12-13 09:42] garethbragg commented on #114
I've created a CSharpGuidelines issue for this, so will close this one down.

[2018-12-13 09:42] #114 closed

[2018-12-13 09:43] garethbragg commented on #187
I'm a tad wary of this being explored by an individual - how can we effectively explore this as a technique unless a deploying team is engaged?

[2018-12-13 11:35] ChrisHurley commented on #188
(It would be awesome if we could standardise on a platform for displaying dashboard metrics which had all the usual data sources ready to go, too)

[2018-12-13 11:56] cj-smithy opened #190 "[Techniques] Outcome-focussed OKRs"
## What change would you like to make to the tech radar?
Add Outcome-focussed OKRs (Objectives and Key Results) to the Techniques/Adopt section of the radar.

## Why do you believe this is valuable to Redgate?
We believe **Outcome-focussed** OKRs are a really important piece of the puzzle to set teams up with clarity of purpose and linking work to a higher aim (important aspects of team motivation

[2018-12-13 12:02] raganmcgill commented on #187
@garethbragg i wouldn't be exploring it personally ;) i'm putting myself forward as a champion to work with teams to drive this forward
(apologies if i have misunderstood the last section - previous tech radars i have worked with call out for a champion of sorts and then teams volunteer to engage based on their direction and the alignment there of)

its something i'd like to explore with Prompt an

[2018-12-13 12:02] cj-smithy opened #191 "[Techniques] Theory of Constraints"
## What change would you like to make to the tech radar?
Add the Theory of Constraints (and therefore identification and exploitation of bottlenecks) to the radar.
## Why do you believe this is valuable to Redgate?
The Theory of Constraints is a method for identifying the most important limiting factor (i.e. constraint) that stands in the way of achieving a goal and then systematically improving t

[2018-12-13 12:04] raganmcgill commented on #188
sure am

[2018-12-13 12:04] #188 closed

[2018-12-13 12:09] cj-smithy opened #192 "[Techniques] Gamestorming activities & Liberating Structures"
## What change would you like to make to the tech radar?
Add Gamestorming activities & Liberating Structures
## Why do you believe this is valuable to Redgate?
The ideation, decision-making and exploration games/activities described in [Gamestorming](https://gamestorming.com/) and [Liberating Structures](http://www.liberatingstructures.com/) have proved to be very successful ways to help teams and

[2018-12-13 12:48] cj-smithy opened #193 "[Techniques] Story Points"
## What change would you like to make to the tech radar?
Story Points (especially as an effort estimation technique) should be added to Endure.
## Why do you believe this is valuable to Redgate?
[Story Points](https://www.mountaingoatsoftware.com/blog/what-are-story-points) are cool in some environments. but I'd argue not ours! There's lot of reasons why the Dev Leads and I think that (here are a

[2018-12-13 14:06] garethbragg commented on #193
Does anyone actually use story points anymore?

[2018-12-13 15:55] cj-smithy commented on #193
I've heard a couple of teams talk about "estimation and Fibonacci numbers" in the same breath... but I cannot remember which team that was. More than happy for this to be in "Retire/Avoid", as its a bit of the scrum framework (add ons?) that I don't think suits where we are now.
"Yes" to adding "splitting stories/work down as small as you can", etc! I did think one of the other Dev Leads had taken

[2018-12-13 16:39] sandrastaples commented on #193
Vertical slicing is #177

[2018-12-14 08:58] Dave-Rook commented on #187
Today, it is time consuming and cumbersome for Prompt users to upgrade. This is something we want to address, because it is an obstacle that prevents the user from being exposed to the latest and greatest (and we all understand the impact that has)!
This means, I am doubtful if the Prompt architecture will allow us to benefit from Continuous Deployment but, I think we will benefit from Continuous

[2018-12-14 09:17] garethbragg commented on #187
Totally agree, @Dave-Rook 😄

Incidentally, "Release scripts" are already in _Adopt_, while "Manual releases" are in _Retire_.

[2018-12-14 10:04] nyctef commented on #187
[#eng-auto-update](https://redgate.slack.com/messages/eng-auto-update) has been looking into making the update experience better for users, although it hasn't made much progress beyond Clone unfortunately - would be nice to work on that some more next year.

I think the other big issue is security - currently we don't trust teamcity to do a release by itself [[ref]](https://github.com/red-gate/Tec

[2018-12-14 10:35] #190 closed

[2018-12-14 10:50] garethbragg commented on #187
This is on the Tech-Radar as "User-controlled background updates" (Tools/_Explore_).

...my feeling the need to drag knowledge from my withering brain seems an information management problem. I'll open a PR to consolidate this information a little, and see if that's any better.

[2018-12-17 12:02] raganmcgill commented on #187
Just to be clear, I would class auto-update is an entirely different technique to continuous deployment.

For me (in very high level terms -  i appreciate there are more to these)
* continuous integration is around test automation to check that the application is not broken whenever new commits are integrated into the main branch.

* continuous delivery is building upon CI and is around automating

[2018-12-18 10:11] ChrisHurley commented on #108
@Greg-Smulko I think we're planning on trying that in the new year :)

[2018-12-19 08:55] #185 closed

[2018-12-19 12:31] allymparker commented on #90
Having talked with @fffej I think what we're going to do is have a second tech radar in this repo for these smaller libraries because:

* It'll stop the main radar getting noisy.  The main radar will be a top level stack ie React/Redux
* Currently it's hard to know what libraries are being used through out the building and why that particular one or not.  This ends up with wasted effort learning,

[2018-12-19 12:46] Dave-Rook commented on #187
I was listening to the Phoenix Project for the second time and something in the book got my attention. They claimed that work committed to master is still WIP. I was surprised at this and they don't give any explanation why. This doesn't align with my understanding of Done but, has really got me thinking. Redgate already have (in their induction notes for new starters) that it's not complete until

[2018-12-19 13:06] #90 closed

[2018-12-19 13:13] fffej opened #197 "Document radar_libraries.csv"
We should document the difference between `radars.csv` and `radar_libraries`. For example, React is in Languages/Frameworks but it's also a library that we pull in from npm so it's a bit confusing.

My starter for 10.

`radars.csv` represents the high-level technology in use at Redgate. It include techniques, platforms, languages and frameworks that we use as well as tools.  It also includes libra

[2018-12-31 12:57] Greg-Smulko opened #198 "Assertion library for unit testing in C# (Shouldly / FluentAssertions)"
## What change would you like to make to the tech radar?
Adopt [Shouldly ](https://shouldly.readthedocs.io/en/latest/) or [FluentAssertions](https://fluentassertions.com/).

## Why do you believe this is valuable to Redgate?
As described by @nyctef [here](https://github.com/red-gate/Tech-Radar/issues/27#issuecomment-435830651).

The readability of tests is much better with these libraries.
Instead

[2018-12-31 13:13] Greg-Smulko commented on #198
@alextercete, you had strong opinions in favour of Shouldly, AFAIR.
My personal preference was FluentAssertions at that point, but I don't really mind neither, as long as `Assert.That` is no longer recommended. :)

[2019-01-04 14:45] #197 closed

[2019-01-04 14:52] #191 closed

[2019-01-04 15:09] #193 closed

[2019-01-04 16:06] garethbragg commented on #140
Nobody seems to disagree that _Adopt: Release scripts_ captures the current state , so I'm going to close this :)

[2019-01-04 16:06] #140 closed

[2019-01-04 16:09] garethbragg commented on #198
How can we decide which of these we should adopt?

What happens to the one we don't put in adopt? Endure, I guess?

Is it suitable to adopt two tools for the same thing?

[2019-01-04 16:17] fffej commented on #198
Likewise I don't mind - I'd prefer to put one in Endure and one in Adopt simply because it seems daft to diverge on this.

I'd vote for Shoudly because I prefer the way the assertions read.

[2019-01-04 16:46] nyctef commented on #198
It looks like FluentAssertions [has pinched Shouldly's killer feature in v5](https://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html#subject-identification) so I'm not currently aware of a reason to prefer Shouldly - FluentAssertions has a wider variety of assertions and it doesn't look like Shouldly has anything like [`foo.Should().BeEquivalentTo(bar)`](https://fluenta

[2019-01-07 09:56] fffej commented on #144
I've created a PR for this, but I'd definitely appreciate another pair of eyes since I'm very confused by the naming of projects around ASP.NET!

[2019-01-07 10:07] #144 closed

[2019-01-07 10:08] ChrisHurley commented on #144
I merged it before noticing the wording should probably be tweaked, oops... sorry, I should revisit that.

[2019-01-08 17:16] #139 closed

[2019-01-11 08:16] fffej commented on #184
I created a PR for this.

I think scoop looks interesting, but it seems to be something any developer could choose to have on their machine for installing apps locally rather than something we'd need to agree on. From my understanding chocolately has the automation side (e.g. on the test infrastructure) sewn up and I'm not sure scoop would give us anything on top of it?

I added @onatm as reviewer

[2019-01-11 11:56] onatm commented on #184
`scoop` is just a subset of `chocolatey`. The initial suggestion made me think that we only need package management program such as `apt`, `homebrew`, etc. It seems like we want to use something like we want something which can also handle deployment scenarios as well so, `chocolatey` would be the right option for us

[2019-01-11 11:57] #184 closed

[2019-01-15 11:52] alextercete commented on #198
@Greg-Smulko Like @fffej, I prefer the way the assertions read in Shouldly. Also, the error messages were more descriptive (although FluentAssertions might have caught up since I last saw it).

[2019-01-15 15:20] fffej commented on #198
I simply like the example of `contestant.Points.ShouldBe(1337)` vs. `contents.Points.Should().Be(1337)`

[2019-01-16 17:25] acoop133 commented on #198
It doesnt seem like `Shouldly` has the ability to equality check class fields like `FluentAssertions` `Should().BeEquivalentTo()`
Which is something that i found to be really useful for checking equality between classes of a different instance without having to write an overide or a manualy check each field.

example https://medium.com/@pjbgf/asserting-equality-in-your-c-unit-tests-837b423024bf

[2019-01-16 18:13] Greg-Smulko commented on #198
@acoop133, as @nyctef commented above, the `BeEquivalentTo()` feature seems to be available now (or at least merged to master, if not released yet): https://github.com/shouldly/shouldly/pull/411

[2019-01-17 09:54] nyctef commented on #198
Nice - judging by [the v3 release history](https://www.nuget.org/packages/Shouldly/) it might be half a year before it actually makes it into a stable version, though

I think FluentAssertions still has a wider range of assertions available, which is nice, but that was the one thing that would block us from using Shouldly. It looks like the Shouldly implementation is still pretty basic compared to

[2019-01-17 11:18] Greg-Smulko commented on #198
OK, let's try to summarize it a bit:

**FluentAssertions**
Pros:
- supports `ShouldBeEquivalentTo()`, and in general wider range of assertions available
- seems to be more popular and a bit more active

**Shouldly**
Pros:
- reads a bit nicer: `id.ShouldBe(1);` compared to `id.Should().Be(1);`
- arguably better string assertions (see screenshot below) - however from my experience it's not so useful

[2019-01-17 11:49] fffej commented on #198
Sounds like a good summary @Greg-Smulko and gets my 👍

[2019-01-18 09:33] twalsh92 commented on #198
Currently in SQL Prompt, we just use standard NUnit assertions in all our tests. I'm currently trying out FluentAssertions in one of our test classes. I'm happy to report back how that goes.

[2019-01-21 09:22] #198 closed

[2019-01-25 15:24] fredjeronimo commented on #187
Following the above, I've had some conversations with @raganmcgill to go over the considerations and concerns expressed here and how they affect the things we want to trial out in _SQL Prompt_. Here's a quick summary of our findings and current inclinations:

* **1-click deployments** - We want to be able to release at any point in time with a single button click – following continuous delivery (#

[2019-01-29 13:08] ChrisHurley opened #210 "[Technologies] Move edge.js to Retire"
## What change would you like to make to the tech radar?
edge.js should be moved from Explore to Retire (or removed).

## Why do you believe this is *not* valuable to Redgate?
* Foundry have [removed edge.js](https://github.com/red-gate/foundry-labs/pull/749)
* Figleaf are [removing edge.js](https://github.com/red-gate/ArchitectureDecisions/blob/f9b55bd/text/000003%20-%20Figleaf%20replace%20edgejs

[2019-01-29 16:11] fffej opened #211 "Create Version 1.0 of the Tech Radar"
## What change would you like to make to the tech radar?

I'd like to create version 1.0 of the Tech Radar and publish it within Redgate.

Doing so will follow the process below:
* Create a PR moving changing all items status to be `isNew = false`
* Tag the branch as January 2019 and create a Release
* Create a short link to tech radar pointing at this release
* Publish a blog post (and lift the T

[2019-01-30 08:45] #211 closed

[2019-01-30 10:09] twalsh92 opened #213 "[Techniques] Pull Request Templates"
## What change would you like to make to the tech radar?
Add "Pull Request Templates".

## Why do you believe this is valuable to Redgate?
Using templates in pull requests makes sure every PR that gets created goes through the same process. This can help mitigate the risks of release notes not being added, documentation being missed and testing not described. It also makes it much easier to unders

[2019-01-30 14:09] nyctef commented on #213
I think this was just added by #209 :)

[2019-01-30 15:02] fffej commented on #213
Yup, @samblackburn beat you to it 😄

[2019-01-30 15:02] #213 closed

[2019-01-31 07:09] fffej commented on #210
Retirement celebrations 😄

@ChrisHurley Would you be able to create a PR for this?

[2019-02-01 14:06] ChrisHurley commented on #210
Ok! The only question I had was whether we actually have any more `edge.js` or if it's already retired - sounds like it might already be gone?

[2019-02-05 08:02] fffej commented on #210
I think it's proper dead 😄 Last time I checked on codesearch.red-gate.com it was only in the Foundry/Figleaf repositories.

[2019-02-05 16:32] joselima opened #214 "[Languages and frameworks] Add Semantic UI to Explore"
## What change would you like to make to the tech radar?
Add Semantic UI

## Why do you believe this is valuable to Redgate?
The work done by Andrew/Ian to evaluate Semantic UI React and Bootstrap React concluded that Semantic UI React was the best choice at this point in time. Read more about the project [here ](https://docs.google.com/document/d/1yu9yG0HKxRfPi9c8bWUw9VN82MFQysVXqv5A08LnnzY/edit#

[2019-02-05 16:33] joselima commented on #214
@ChrisHurley would this be something Clone could commit to once the work is complete? The obvious candidate would've been Figleaf but not anymore. @MattGodfrey may also have some thoughts?

[2019-02-05 16:36] ChrisHurley commented on #214
We unfortunately missed the boat a bit with our dashboard rewrite last year, which is when we hoped to use Honeycomb React. I'm sure we can try it the next time we have UI work to do once it's Honeycombed, but that will probably be Q2 or later?

[2019-02-05 16:45] ChrisHurley commented on #214
(We are doing some UI work in Q1, FWIW, but I suspect that may be too soon - but if it's done in time we can take a look!)

[2019-02-05 17:59] ChrisHurley commented on #210
#215 created!

[2019-02-06 17:44] ChrisHurley commented on #210
Closed via #215

[2019-02-06 17:44] #210 closed

[2019-02-11 09:33] fffej opened #216 "IE10 to Endure"
## What change would you like to make to the tech radar?

Move IE10 to endure

## Why do you believe this is valuable to Redgate?

It's tidying up the sentiment. Currently IE10 is in retire which means we should go around and remove the IE10 specific code paths from our applications. This isn't actively doing harm at the moment so moving it to Endure reflects this.

## Where should this be on the

[2019-02-11 09:36] fffej opened #217 "Move Pre ES6 to Endure"
## What change would you like to make to the tech radar?

Move JavaScript Pre ES6 to Endure

## Why do you believe this is valuable to Redgate?

We shouldn't be rewriting all the JavaScript to ES6 style so moving it to Endure better reflects the sentiment.

## Where should this be on the tech radar?

Endure

[2019-02-11 09:36] fffej opened #218 "Move Mocha to Endure"
## What change would you like to make to the tech radar?

Move Mocha to Endure

## Why do you believe this is valuable to Redgate?

We don't want to rewrite the tests for Mocha (even if we believe it's not the best for new development), therefore Endure just reflects where it should be

## Where should this be on the tech radar?

Endure

### If this should be in the _Explore_ ring, who is committe

[2019-02-11 09:37] fffej opened #219 "Remove VB.NET"
## What change would you like to make to the tech radar?

Remove VB.NET from the Tech Radar.

## Why do you believe this is valuable to Redgate?

We don't use it anywhere (and no-one is sure whether we ever did!) therefore it shouldn't be on the radar.

## Where should this be on the tech radar?

N/A

### If this should be in the _Explore_ ring, who is committed to exploring it?

N/A

[2019-02-11 09:38] fffej opened #220 "Coded UI"
## What change would you like to make to the tech radar?

Remove from the Tech Radar

## Why do you believe this is valuable to Redgate?

It's not used by anyone

## Where should this be on the tech radar?

NA

### If this should be in the _Explore_ ring, who is committed to exploring it?

NA

[2019-02-11 10:54] #218 closed

[2019-02-11 10:56] #220 closed

[2019-02-11 10:57] #219 closed

[2019-02-11 11:50] garethbragg commented on #217
Resolved by #223

[2019-02-11 11:50] #217 closed

[2019-02-11 11:50] garethbragg commented on #216
Resolved by #223

[2019-02-11 11:50] #216 closed

[2019-02-11 17:04] fffej opened #224 "Retire Redgate.ThirdParty.*"
## What change would you like to make to the tech radar?

I'd like to add `RedGate.ThirdParty.*` to retire

## Why do you believe this is valuable to Redgate?

Third party libraries make it much harder for us to keep packages up to date. Each time a third-party library needs an update, we'd have to create a new NuGet package and republish it. This is work we don't need to do.

Examples of this inc

[2019-02-11 17:24] nyctef commented on #224
I totally agree with this for the examples you've provided, although there are a couple other reasons we do this as well:

- Sometimes the nuget package we want just doesn't exist on nuget.org.
  This seems to be true for eg [Actipro](https://www.nuget.org/packages?q=Actipro) and most [DevExpress](https://www.nuget.org/profiles/devexpress) packages (Actipro actually [recommend creating your own](h

[2019-02-11 17:41] Greg-Smulko commented on #224
Another example of this is `SonarScanner`, see https://github.com/red-gate/Versioning/pull/2366 for more details. Maybe in such a situation, our default approach should be to open a PR in the public repo that just adds nuget package creation?

[2019-02-13 13:25] nyctef opened #225 "[Library] Commandline parsing"
## What change would you like to make to the tech radar?

Add [`CommandLineParser`](https://www.nuget.org/packages/CommandLineParser/) to Explore
Add [`NDesk.Options`](https://www.nuget.org/packages/NDesk.Options/) to Adopt
Add [`RedGate.Legacy.CommandLine`](https://red-gate.visualstudio.com/NugetFeed/_packaging?_a=package&feed=Main&package=RedGate.Legacy.CommandLine&version=1.0.56&protocolType=Nu

[2019-02-13 14:22] adrianbanks commented on #225
I've used [ManyConsole](https://github.com/fschwiet/ManyConsole) in production in the past and it is similar to NDesk.Options, but I found it much easier to work with.

[2019-02-14 10:45] fffej commented on #224
@nyctef Thanks, I think you've demonstrated there are good reasons to do it but maybe this is veering into Coding Guidelines territory as it's not easy to get a blanket statement. I've created an issue at https://github.com/red-gate/CSharpGuidelines/issues/80 and I'll seed it with your comment 😄

[2019-02-14 10:54] fffej opened #227 "[Library] Retire TaskParallelLibrary"
## What change would you like to make to the tech radar?

Retire `TaskParallelLibrary`

## Why do you believe this is valuable to Redgate?

We shouldn't include references to libraries we don't need and since we're all up to date > .NET Framework 3.5 we don't need this.

## Where should this be on the tech radar?

Retire.

### If this should be in the _Explore_ ring, who is committed to exploring

[2019-02-14 10:59] MikielAgutu opened #228 "[Tools] Postman"
## What change would you like to make to the tech radar?

Introduce Postman https://www.getpostman.com/

## Why do you believe this is valuable to Redgate?

It's a tool for manual and automated testing of APIs. As we strive to be API first, having a go-to tool for this sort of thing makes sense.

## Where should this be on the tech radar?
Explore

### If this should be in the _Explore_ ring, who i

[2019-02-14 11:13] adrianbanks commented on #228
As an alternative to this if using Rider, it has a built in [HTTP client](https://www.jetbrains.com/help/rider/Http_client_in__product__code_editor.html). An added benefit is that the requests are just `.http` files that can be added to a repository to be shared.

[2019-02-14 15:50] fffej commented on #225
`NDesk.Options` is in Adopt, but as far as I can tell doesn't have any maintainers? Should it be the successor [`Mono.Options`](https://www.nuget.org/packages/Mono.Options)? The package @adrianbanks mentions looks like it builds on top of `Mono.Options`.

[2019-02-14 16:04] nyctef commented on #225
Probably, yeah - I don't know how different `Mono.Options` is from `NDesk.Options`, but the docs look pretty similar: https://github.com/xamarin/XamarinComponents/tree/master/XPlat/Mono.Options#getting-started

[2019-02-14 16:23] adrianbanks commented on #225
I think `ManyConsole` was possibly originally built on `NDesk.Options` and has been switched over (I was surprised to see it based on `Mono.Options` when I looked at it the other day as I'm sure it relied on `NDesk.Options` when I last used it).

[2019-02-15 06:37] fffej opened #230 "Move RhinoMocks to Endure"
## What change would you like to make to the tech radar?

Move Rhino Mocks to Endure

## Why do you believe this is valuable to Redgate?

We have existing tests in Rhino Mocks and it was in Retire. It's not actively causing harm, so it should instead be in Endure.

## Where should this be on the tech radar?

Endure

### If this should be in the _Explore_ ring, who is committed to exploring it?

N/

[2019-02-15 06:43] fffej opened #231 "Move CEF to Endure"
## What change would you like to make to the tech radar?

Move CEF to Endure

## Why do you believe this is valuable to Redgate?

CEF is currently only used by a single product. We have no motivation to make the significant changes needed to remove this product, so realistically this is in Endure.

## Where should this be on the tech radar?

Endure

### If this should be in the _Explore_ ring, who

[2019-02-15 06:44] #186 closed

[2019-02-15 14:18] cjheppell commented on #225
We've been using [`Microsoft.Extensions.CommandLineUtils`](https://www.nuget.org/packages/Microsoft.Extensions.CommandLineUtils/) which has been working fine for us in Foundry.

Unfortunately it's not actively maintained by Microsoft anymore, but there's a [community fork](https://github.com/natemcmaster/CommandLineUtils) with active maintenance. We haven't found the original NuGet package lacking

[2019-02-15 14:39] #230 closed

[2019-02-15 14:39] #231 closed

[2019-02-15 16:25] fffej commented on #225
Looking at the libraries, I'm finding it difficult to distinguish between what we should be using.

Does anyone have any strong opinions?

[2019-02-15 16:55] cjheppell commented on #225
I haven't used any of the other libraries mentioned in this issue, but my preference would be anything that fits the following criteria:

- Actively maintained
- Supports .NET Core/Standard
- Implementing it doesn't cause its code to scatter all over the codebase with horrible annotations and whatnot
- Ideally, auto-generation of the help/usage

After a quick browse, my vote goes to [CommandLinePa

[2019-02-18 09:00] garethbragg commented on #227
How widely used is `TaskParallelLibrary`?
How easy is it to remove?
How much effort will it be to retire it?
How/when do we expect this work to get done?

(Totally supportive, but I don't want to open a "Pull `TaskParallelLibrary` back to _Endure_" PR in a few weeks 😄 )

[2019-02-18 09:13] fffej commented on #227
https://codesearch.red-gate.com/?q=TaskParallelLibrary&i=nope&files=&repos= shows it's used in migration blocks, simple auto updater, compare and dependency tracker, monitor tests, soc  and a fair few more.

Removing it should be trivial - if the library is targeting >3.5 then it's just delete the dependency.

Ideally let's get this done by the next iteration of the tech radar (dependent on all th

[2019-02-18 09:16] fffej opened #233 "[Library] Definitely retire Rhino Mocks"
## What change would you like to make to the tech radar?

I'd like to move `Rhino.Mocks` back to Retire but with better documentation on why 😄

We should retire `Rhino.Mocks` when we're trying to move corresponding libraries over to .NET Core. The reason is that `Rhino.Mocks` does [not support .NET Core](https://stackoverflow.com/questions/52159272/rhino-mock-compatibility-with-netcore).

## Why d

[2019-02-19 13:38] fffej commented on #224
This issue is far too general so closing out this discussion and letting the https://github.com/red-gate/CSharpGuidelines/issues/80 do it's thing.

[2019-02-19 13:38] #224 closed

[2019-02-26 10:02] fffej opened #234 "[Library] Remove Fody from the Tech Radar"
## What change would you like to make to the tech radar?

Remove Fody

## Why do you believe this is valuable to Redgate?

Because we've retired it! 🎆

## Where should this be on the tech radar?

N/A

### If this should be in the _Explore_ ring, who is committed to exploring it?

N/A

[2019-02-26 10:03] fffej commented on #234
@juliahayward Could you create a PR? 😄

[2019-02-26 10:22] nyctef commented on #234
PR created and merged: https://github.com/red-gate/Tech-Radar/pull/235

[2019-02-26 10:22] #234 closed

[2019-03-01 00:02] angellaa opened #236 "[Library] Enforce some architectural decisions as unit tests"
## What change would you like to make to the tech radar?
Thoughwork added ArchUnit in Trial in their own radar.

I have just found a simple and easy to use a library built for .NET that could be used in our projects
https://www.ben-morris.com/writing-archunit-style-tests-for-net-and-c-for-self-testing-architectures/

## Why do you believe this is valuable to Redgate?
We can enforce some architectu

[2019-03-01 07:26] fffej commented on #236
@angellaa I'm really looking for a team to commit to exploring it. Do you think there are any valuable places to use in across versioning?

I'd love to see tests that verify that anything in the core of SCA doesn't depend on Oracle/SQL packages.

[2019-03-01 09:04] nyctef commented on #236
While the library in Andrea's link is really cool (and I'd love to have a play with it) I'm not sure if it's necessary or particularly useful for something like this. We've found that putting in these kinds of architectural boundaries are much easier at a project-by-project level instead of a class-by-class level: it means the `public`/`internal` distinction does something much more useful, and it

[2019-03-01 09:43] adrianbanks commented on #236
You can do this in Visual Studio using architecture dependency validation diagrams.

You draw some boxes for each component of your system, then drag the relevant projects into them. You can them set dependencies between the components. MsBuild understands the diagram format and can run a validation against it based on the the current project dependency graph, allowing you to fail a build when the

[2019-03-05 10:24] garethbragg commented on #233
Standard caveat: I'm _super onboard_ with retiring stuff, but trying to be critical.

I think the "caveats" you mention actually mean this is best left in _Endure_.

(emphasis added.)

Moving something to run on .Net Core will mean Rhino Mocks must be removed, enforcing the "migrate of fit wherever possible" part of _Endure_. I think we'd continue to _Endure_ Rhino Mocks anywhere we don't target .

[2019-03-10 18:37] fffej commented on #233
I'm happy with that, let's close this down.

[2019-03-10 18:37] #233 closed

[2019-03-10 18:37] fffej commented on #227
I've got a feeling that @juliahayward might have already nuked this from all those repos?

[2019-03-11 09:13] juliahayward commented on #227
Nuking, but not there yet

[2019-03-11 11:23] juliahayward commented on #227
In fact this is also tied up with our chain of dependencies using System.Threading 1.0.2586 from the TPL backport - I suspect these also need to be removed. SDT is building but with warnings about making an arbitrary choice of how to resolve System.Threading (fortunately it's defaulting to the 4.0 builtin)

[2019-03-11 15:08] juliahayward commented on #227
Any products that get it transitively from HoneyComb-Winforms will need to bump to 1.1.469 or greater

[2019-03-13 08:38] fffej commented on #225
@nyctef Sounds like we're about ready for a PR - do you want to make one that summarizes this discussion and we can resolve this?

[2019-03-13 09:48] adrianbanks commented on #225
I forgot to mention - I did some spiking a few weeks back of the command line libraries mentioned here. The code is [here](https://github.com/adrianbanks/CommandLineParsing).

From working with them all, `ManyConsole` gives the cleanest API as it works on a command based structure. Each command defines its options and the action to take when executed. `CommandLineParser` was probably the simplest

[2019-03-13 13:36] joselima commented on #214
@andrew-farries could Data Catalog be a candidate for this now we have an initial set of components? And if so, could they commit to exploring this?

[2019-03-18 07:10] fffej commented on #236
@angellaa What's the sentiment here? Do you want to commit to explore it or given other comments maybe consider alternatives?

[2019-03-18 07:11] fffej commented on #228
Excellent - @MikielAgutu do you want to create a PR and I'll merge it?

[2019-03-21 09:48] garethbragg opened #240 "[Explore] Github Pages"
## What change would you like to make to the tech radar?
Add Github Pages to Explore.

## Why do you believe this is valuable to Redgate?
We're building a "playbook" for communities of practice, and need somewhere for this to live (currently it's a work-in-progress Word document 😢).

Confluence is the obvious option from our current tools in terms of "hosting", but that's not ideal for the way we'

[2019-03-21 13:41] #240 closed

[2019-03-26 09:38] nyctef opened #244 "[Tool] Docker"
## What change would you like to make to the tech radar?

Add more detail around Docker on the radar - possibly split it up into different entries for internal/external use:

- Building products around Docker (eg [spawn](https://www.redgatefoundry.com/apps/spawn)) - I think this is what our current entry refers to
- Shipping products inside of Docker containers (a new way of distributing RG comman

[2019-03-26 12:39] #225 closed

[2019-04-03 09:29] krzysztofkroczak opened #245 "[Library] FsCheck"
## What change would you like to make to the tech radar?
Use property-based testing as a technique and use `FsCheck` framework to achieve it

## Why do you believe this is valuable to Redgate?
https://github.com/red-gate/ArchitectureDecisions/pull/13

 ### Pros:
- Easier to understand tests as documentation.

 If we can find a property of component we can express explicitly it’s property. Sometime

[2019-04-03 10:26] #245 closed

[2019-04-08 08:55] fffej commented on #236
@angellaa I'm going to close this issue as I don't see any team commitment to explore it and as @adrianbanks and @nyctef have pointed out it looks like our current stack can do this without needing to introduce something more.

[2019-04-08 08:55] #236 closed

[2019-04-08 09:21] angellaa commented on #236
Agree

[2019-04-09 11:33] Greg-Smulko opened #249 "[Tools] Adopt KeePass"
## What change would you like to make to the tech radar?
Add [KeePass](https://keepass.info/) to the Tools section as Adopt.

## Why do you believe this is valuable to Redgate?
A few teams adopted KeePass already (e.g. Versioning, sql monitor, The Spiders, foundry, ...).
This allows to store all passwords in one encrypted file in GitHub, so you need to care about one master password only, rather t

[2019-04-11 08:26] fffej commented on #249
PR welcome, don't think there's much to discuss here 😄

[2019-04-15 09:20] Greg-Smulko commented on #228
Closed by #248.

[2019-04-15 09:20] #228 closed

[2019-04-16 15:15] allymparker commented on #214
Can we merge this?

[2019-04-16 15:53] #249 closed

[2019-04-16 16:46] Greg-Smulko opened #252 "[Techniques] Semantic Versioning 2.0.0 (SemVer)"
## What change would you like to make to the tech radar?
Add **Semantic Versioning 2.0.0** - at least for the internal tools and libraries.

## Why do you believe this is valuable to Redgate?
[Semantic Versioning](https://semver.org/) is a de-facto industry standard for versioning applications.
AFAIK, we use it for most of our internal libraries anyway.
In terms of products, Semantic Versioning ma

[2019-04-16 18:16] nyctef commented on #252
I think this is generally a good idea, with the caveat that semantic versioning .NET assemblies often turns out to be a lot harder than it sounds [[1]](https://info.red-gate.com/eng/development-policies/libraries/versioning-assemblies) [[2]](https://info.red-gate.com/product-division/product-teams/the-toolbelt-team/the-semantic-versioning-predicament)

[2019-04-18 09:03] nyctef commented on #252
For some of our code, we may need to maintain both a public marketing version and an internal semantic version (eg like VS does: https://en.wikipedia.org/wiki/Microsoft_Visual_Studio#History). I think this is generally fine. For the most part though, products should end up with a marketing version and libraries should get a semantic version.

[2019-04-28 06:26] fffej commented on #252
I agree, we should be aspiring to do this as a practice.

As @nyctef says strong-naming means that SemVer doesn't quite give us the benefits it should, but regardless I think it's good practice to think about API versioning and this seems the most sensible way I've seen! PR welcome to close this issue out.

[2019-04-28 06:26] fffej commented on #244
Completely agree, PR welcome 😄

[2019-04-28 06:27] fffej commented on #214
Resolved by #251

[2019-04-28 06:27] #214 closed

[2019-04-29 12:53] #252 closed

[2019-04-29 15:00] fffej commented on #227
Resolved by #254

[2019-04-29 15:00] #227 closed

[2019-04-30 11:44] Greg-Smulko opened #256 "[Tool] Renovate to update npm and nuget packages"
## What change would you like to make to the tech radar?
See https://github.com/red-gate/ArchitectureDecisions/pull/23 .

## Why do you believe this is valuable to Redgate?
See https://info.red-gate.com/rg/blog/2019/03/continuous-integration

## Where should this be on the tech radar?
Tools - adopt

### If this should be in the _Explore_ ring, who is committed to exploring it?
n/a

[2019-05-01 07:32] #244 closed

[2019-05-01 09:25] #256 closed

[2019-05-03 11:57] Greg-Smulko opened #261 "Rename category "Languages and frameworks""
Rename category "Languages and frameworks" to "Languages, frameworks and libraries".

In this category, there is a lot of libraries, but it's confusing whether a library should be in the category "Languages and frameworks" or "Tools". An example here: #259.

[2019-05-03 11:58] Greg-Smulko opened #262 "Move JSON from "Tools""
Move JSON from "Tools", because it's not a tool at all.
It should be in the "Languages and frameworks" category IMO.

[2019-05-03 12:27] fffej commented on #262
Agreed!

[2019-05-03 13:12] nyctef commented on #261
So the way I understand it, libraries should only go on the main radar if they're "architecturally significant" (eg switching from JQuery to React is a Big Deal). This is kind of the library/framework distinction (although [everyone has a slightly different idea of the difference](https://stackoverflow.com/questions/148747/what-is-the-difference-between-a-framework-and-a-library)).

If a given "li

[2019-05-03 13:55] Greg-Smulko commented on #261
Oh, I wasn't aware of [radar_libraries.csv](https://github.com/red-gate/Tech-Radar/blob/master/radar_libraries.csv)!

So then I propose to do the below instead:
1. clean-up the `radar.csv` file from libraries by moving them to `radar_libraries.csv`.
2. add the info to the PR template that "if you're adding a library that's not architecturally significant, add it to radar_libraries.csv instead".
3.

[2019-05-08 09:13] #262 closed

[2019-05-20 12:29] fffej opened #268 "[Libraries and Frameworks] Move JQuery to Endure"
## What change would you like to make to the tech radar?

I'd like to move JQuery from Retire to Endure.

## Why do you believe this is valuable to Redgate?

Realistically, JQuery isn't going anywhere as it is so widely used. We shouldn't use it for new stuff, but where it's already in place it's fine to leave it there.

## Where should this be on the tech radar?

Endure, not retire.

[2019-06-06 06:00] #268 closed

[2019-06-06 07:02] garethbragg opened #271 "[Techniques] Are "Trunk is always releasable" and "Continuous Delivery" worth keeping separate?"
## What change would you like to make to the tech radar?

Merge "Trunk is always releasable" and "Continuous Delivery" into a single thing (probably the latter).

## Why do you believe this is valuable to Redgate?
Honestly, I think "Adopt" is a little crowded 😃

More seriously, I wonder if this is effective duplication. Let's check out the descriptions of the two entries:

...they seem pretty simi

[2019-06-06 07:13] garethbragg opened #273 "[Techniques] Should the Show & Tell/Expo be on the tech radar?"
## What change would you like to make to the tech radar?
Add entries for "Divisional Show & Tell" and "Divisional Expo" to the tech radar.

## Why do you believe this is valuable to Redgate?
These are practices we have adopted, and are very much a part of how we work.

If I were a newcomer to Redgate, I'd expect them to be on the tech radar.

## Where should this be on the tech radar?
Adopt

### I

[2019-06-06 07:26] garethbragg opened #274 "[Techniques] Remove "Scrum""
## What change would you like to make to the tech radar?
_puts on flame-protective clothing_
Should we remove Scrum from the tech radar, and replace it with the actual practices we use.

## Why do you believe this is valuable to Redgate?
I don't believe anyone at Redgate actually uses Scrum.

We intermittently use some of the practices:
* Daily stand ups are globally expected (and already on the t

[2019-06-06 07:32] garethbragg commented on #274
(I imagine there's an argument to do this with Kanban as well, but that should be a separate issue IMO.)

[2019-06-06 07:36] garethbragg commented on #261
I've also updated the PR template to ask about the libraries radar file.

[2019-06-17 10:48] #273 closed

[2019-06-18 14:21] twalsh92 opened #281 "[Techniques] "Mobbing""
## What change would you like to make to the tech radar?
Move "Mobbing" to adopt.

## Why do you believe this is valuable to Redgate?
Several teams have done lots of experiments with mobbing and it seems to have worked really well. Following Woody Zuill's workshop most if not all teams are planning to do a lot more of it. Therefore I think it can be moved out of "Explore".

Like any techniques, it

[2019-06-18 14:24] garethbragg commented on #281
Is there any useful guidance you could give on when mobbing is/isn't a good thing to do?

[2019-06-19 10:58] nyctef commented on #281
We wrote a blog post on mobbing in the Orca team a while back, which has some advice: https://medium.com/ingeniouslysimple/a-mob-of-orcas-fdfe0bbdc599

I've got some further thoughts since then which I'll try to collect and write here

[2019-06-24 17:03] nyctef commented on #281
To add to the above:
One big thing I picked up from Woody Zuill's workshop today is that mob programming requires really good team communication.
Woody suggested that teams actually start off practicing a strict [Randori Kata](http://codingdojo.org/RandoriKata/) where the team cycles through driver, navigator and observer roles every few minutes. The catch is that (at least to begin with) only the

[2019-06-25 07:41] fffej commented on #274
👍 to this.

[2019-06-25 07:44] fffej opened #283 "Rename "Adopt" to "Available""
@Dave-Rook highlighted to me that `Adopt` might be the wrong term. `Adopt` implies that we should use a particular technique regardless.

For example, mobbing is useful and a technique to have in the toolbox, but it isn't something we should use all the time regardless of context.

[2019-06-25 07:57] Dave-Rook commented on #281
Is part of the problem here "adopt" @nyctef ? Please see https://github.com/red-gate/Tech-Radar/issues/283

[2019-06-25 08:00] garethbragg commented on #283
I'm not precious about the wording. If this helps people, then I say we go for it ☺️

[2019-06-25 08:31] garethbragg commented on #274
Would be useful to get some Dev Lead input on this.

💁‍♂ ✨ _summons @Michael-Upton_ ✨

[2019-06-25 08:47] adrianbanks commented on #283
It's probably worth referring to the [definition of adopt](https://www.thoughtworks.com/radar/faq#rings) from Thoughtworks:

[2019-06-25 08:49] Dave-Rook commented on #283
More than happy to change either the term or the current definition!

[2019-06-25 11:19] nyctef commented on #281
After some in-person discussion I should clarify I still think we should adopt mob programming - these are just concerns about how it can go wrong. I think working through and addressing these concerns is a part of a team getting good at mobbing.

[2019-06-25 11:20] nyctef commented on #283
Personally I'd want to stick with Adopt - one of the useful parts of having a tech radar is being opinionated about picking certain technologies/techniques by default, and watering it down to "Available" feels like it would lose that. Of course no tool/technique is perfectly appropriate 100% of the time

[2019-06-25 11:26] smobs commented on #281
We could turn this on its head: Teams should be striving for good communication, and mob programming is one way to expose problems.

[2019-06-25 11:36] Dave-Rook commented on #283
Seems like keeping the term adapt but maybe use the Thoughtworks definition?

[2019-06-25 11:40] Dave-Rook commented on #281
I understand there are some problems - and I totally agree with everything said. I'm not sure if mobbing will be done solely by any team, but it does seem that we have explored and it should now be adopted as an extra tool for the toolbox

[2019-07-01 06:02] #283 closed

[2019-07-09 08:53] #274 closed

[2019-07-11 09:15] garethbragg commented on #281
This has been updated on the tech radar, so let's close this issue.

[2019-07-11 09:15] #281 closed

[2019-07-16 09:44] #261 closed

[2019-07-16 09:44] fffej commented on #187
Closing this due to inactivity.

[2019-07-16 09:44] #187 closed

[2019-07-16 10:12] solar-1992 opened #292 "Javascript Syntax highlighting library"
## What change would you like to make to the tech radar?
* Add a library (Investigating prism.js) for doing syntax highlighting in javascript that at least covers PowerShell

## Why do you believe this is valuable to Redgate?
* We intend to display example PowerShell scripts from within SQL Monitor as part of our in-product documentation

## Where should this be on the tech radar?
* Explore - I ca

[2019-07-16 10:19] Greg-Smulko commented on #292
There is https://github.com/highlightjs/highlight.js that we used for ReadyRoll MsBuild VSTS extension (before rebrand of ReadyRoll and VSTS ;) ).

It's not maintained anymore, but it works pretty well. We also created our own fork for SQL - see https://github.com/red-gate/highlight.js .

Btw, in confluence there is some syntax hightlighting for PowerShell, but unfortunately it doesn't work too we

[2019-07-16 10:22] solar-1992 commented on #292
Does this mean we should use highlight.js or avoid it because it isn't maintained? We are currently using confluence but want to move the example scripts to ship with the product so that we can keep them tied to the customer's version easily

[2019-07-16 10:55] Greg-Smulko commented on #292
I don't really know. It's a well-established library, so maybe the lack of maintenance is not really such a big problem? But I don't really know if it supports PowerShell at all, we used it for SQL only.
On the other hand, if another library works fine too, and it's maybe easier to consume, thenI'd say just go for it. :)

[2019-07-16 15:24] #271 closed

[2019-07-17 08:13] nyctef commented on #292
We're currently using highlight.js too on the Orca team, although I don't think we're particularly attached to it

[2019-07-18 10:54] fffej commented on #292
Sounds like highlight.js has enough usage that we should just use that? I'm not so worried about the lack of maintenance cos it's heavily used and at least someone is committing to the repository.

What'd you think @solar-1992 ?

[2019-07-18 10:59] solar-1992 commented on #292
We can investigate highlight.js (I'll admit we went for prism.js in the meantime but it isn't merged yet)

If we find great issues with highlight what is the right thing to do?

[2019-07-18 11:23] Greg-Smulko commented on #292
I'm not sure how good is highlight.js support for PowerShell - there is an [open PR](https://github.com/highlightjs/highlight.js/pull/1386) to improve it.

I'd say that if prism.js works for you guys, then it's such a non-crucial dependency that we can afford to have both highlight.js (as endure?) and prism.js (as adopt?).

[2019-07-18 11:26] nyctef commented on #292
Yeah, I don't feel like this is something we need to be super-consistent on - teams adopting one or the other might be fine

[2019-07-18 14:17] fffej commented on #292
👍 If highlight.js doesn't do the job on PowerShell, then sounds like reason enough to explore Prism.

[2019-09-11 15:03] fffej opened #297 "BouncyCastle"
## What change would you like to make to the tech radar?

I think this should be in retire as .NET framework supports certificate generation.

_I am unsure whether any other aspects of [Bouncy Castle ](https://www.bouncycastle.org/) are used_

## Why do you believe this is valuable to Redgate?

This helps with FIPS compliance because BouncyCastle hints that you need paid support for the FIPS compl

[2019-09-11 15:36] ChrisHurley commented on #297
There wasn't a way in .NET Framework before 4.7.2 to easily create certificates, but [now there is](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.certificaterequest). We were also using BouncyCastle for other crypto needs, but without good reason.

It's also worth noting that the `BouncyCastle` library that we were using is not .NET Standard compliant; a

[2019-09-17 11:04] nyctef commented on #292
Just as a note we've stopped using highlight.js since we're now using [monaco-editor](https://github.com/react-monaco-editor/react-monaco-editor) to display sql, which means we now get an editor + diff viewer for "free".

Monaco is the editor that powers VSCode, and while it adds quite a bit of complexity (it has its own webpack plugin!) it seems to work pretty well.

[2019-09-17 12:39] fffej commented on #292
@nyctef Could you make a PR to add monaco?

[2019-09-17 13:08] nyctef commented on #292
Yep, will do 👍

[2019-10-11 10:15] solar-1992 commented on #292
Looks like it might resolve this issue - unless we want to entertain the idea of using two libraries because one is bigger etc with more features and another is smaller for just display

[2019-10-11 12:10] nyctef commented on #292
Yeah, I would absolutely not use monaco-editor unless you actually want to use it as an editor - if you're just displaying some sql and want to make it look prettier, then one of the other libraries mentioned in this thread would be much more appropriate.

With that said, I don't think we wanted to specify which highlighting library to use in the radar - they should be pretty much equivalent, anyw

[2019-10-11 13:43] fffej commented on #292
Agreed, I'll close this out (and if anyone disagrees, please feel free to reopen!).

[2019-10-11 13:43] #292 closed

[2019-10-28 13:40] ChrisHurley commented on #225
I've found that `CommandLineParser` doesn't have any native support for subcommands, which makes it difficult to use for the sort of semantics (inspired by e.g. `kubectl`) that are used in Foundry's command lines, e.g.
[code]

https://github.com/commandlineparser/commandline/issues/69
https://github.com/commandlineparser/commandline/issues/353

It's possible to work around it by handling multi-lev

[2019-10-28 14:14] Greg-Smulko commented on #225
Also, [CommandLineParser](https://www.nuget.org/packages/CommandLineParser/) seems to be abandoned, really. :(
The last commit to master was on Jul 31, and my PRs ([this](https://github.com/commandlineparser/commandline/pull/432) and [this](https://github.com/commandlineparser/commandline/pull/433)) are dying there slowly since 15th Apr 2019.

I'd propose to move CommandLineParser from Explore to

[2019-10-28 14:52] allymparker commented on #225
FWIW I'd probably prefer to use System.CommandLine over handrolling something else

[2020-01-02 13:29] garethbragg opened #313 "SonarQube (especially PR Analysis) requires review"
## What change would you like to make to the tech radar?
Honestly I'm not sure yet.

We've used SonarQube to comment on code issues in PRs for a while now. It seems this capability is now only available with [SonarQube Developer edition and above](https://www.sonarsource.com/plans-and-pricing/) (i.e. not the free "Community edition" we use).

This suggests a few possible routes:

* We pony up and